<div class="kitchen-header">
  <h2>Collapse Example</h2>
</div>
<div class="kitchen-content">
  <nt-collapsible>
    <span collapsible-header> header</span>
    <div collapsible-content>now you see me!</div>
  </nt-collapsible>
</div>
<div class="kitchen-footer" style="text-align:left;">
  <pre>
    <code>
      &lt;nt-collapsible&gt;
        &lt;span collapsible-header> header&lt;/span>
        &lt;div collapsible-content>now you see me!&lt;/div>
      &lt;/nt-collapsible&gt;
    </code>
  </pre>
</div>
