<div class="tab-container">
  <nt-form-container>
    <div fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="start" class="mb-xl">
      <label class="red">Data to Populate Into Table</label>
      <md-input-container>
        <textarea mdInput mdTextareaAutosize [(ngModel)]="stringData"></textarea>
      </md-input-container>

      <label class="red mb-s">Button to refresh table below</label>
      <button md-raised-button (click)="refreshTable()" class="btn-action">
          <nt-multi-lingua msgCode="cmo.lbl.update">Update</nt-multi-lingua>
      </button>
    </div>
    <div fxyout="row" fxLayout.lt-lg="column">
      <div fxLayout="column" fxFlex=25% class="mr-xl tablet-fix">
        <!-- Filter -->
        <label class="red">Filter Panel Test</label>
        <nt-filter-panel checkboxCodeType="CIS.CTT_T" (filterToggleBtnClick)="onFilterToggleBtnClick($event)" (onCheckboxChange)="filterByCheckbox($event)">
          <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <nt-input ngModel name="input"></nt-input>
            <nt-submit-button (reset)="onSearchFormReset()" (submit)="onSubmit(searchGroup.value)" [parent]="searchGroup">
              <nt-multi-lingua msgCode="cmo.lbl.find">Search</nt-multi-lingua>
            </nt-submit-button>
          </form>
        </nt-filter-panel>
      </div>
      <div fxLayout="column" fxFlex=75% class="tablet-fix">
        <!-- Table Listing -->
        <label class="red mb-s">Table Listing Test</label>
        <nt-table [accessControl]="accessControl" [totalData]="totalData" [tableData]="data" [setting]="setting" [requiredPagination]="false" [totalFooter]="true"></nt-table>

        <!-- Card Listing -->
        <label class="red mt-l">Card Test</label>
        <div fxLayout="row" class="mt-s">
          <md-card fxFlex="49.5%" class="offset-right">
            <ul>
              <ng-container *ngFor="let item of setting; let i = index;">
                <li *ngIf="i < setting.length/2">{{item.key}}</li>
              </ng-container>
            </ul>
          </md-card>
          <md-card fxFlex="49.5%">
            <ul>
              <ng-container *ngFor="let item of setting; let i = index;">
                <li *ngIf="i > setting.length/2">{{item.key}}</li>
              </ng-container>
            </ul>
          </md-card>
        </div>
      </div>
    </div>
  </nt-form-container>
</div>
