@import '~sass/_palette.scss';
md-icon {
  vertical-align: baseline;
  padding-right: 4px;
}

.nt-checkbox {
  padding: 0.5rem 0;
  .inactive {
    color: $multi-6;
  }
}

/deep/ {

  .mat-checkbox-checked {
    &.grpmbr {
      background: $multi-3;
      md-icon {
        color: $accent-10;
      }
      .mat-checkbox-label {
        color: $accent-10;
        font-weight: bold;
      }
    }
    &.dli {
      background: $accent-10;
      md-icon {
        color: $accent-9;
      }
      .mat-checkbox-label {
        color: $accent-9;
        font-weight: bold;
      }
    }
  }
}
