<md-input-container [class.md-input-readOnly]="disabled">
  <input mdInput [type]="checkType()"
    disabled="{{disabled}}" required="{{required}}" name="{{placeholder}}" placeholder="{{placeholder}}" [(ngModel)]="value"
    #control="ngModel">
</md-input-container>
<nt-control-message [type]="checkType()" [control]="control"></nt-control-message>
