<div>
  <md-input-container fxFlex>
    <input mdInput [(ngModel)]="value" [min]="min" [max]="max" [mdDatepicker]="picker" [placeholder]="placeholder" [disabled]="_disabled"
      [required]="required" ntTooltip (showTooltip)="showTooltip = $event" #inputControl="ngModel" (blur)="blur()">
    <button mdSuffix [mdDatepickerToggle]="picker" [disabled]="_disabled"></button>
  </md-input-container>
  <md-datepicker [touchUi]="touchUi" #picker></md-datepicker>
</div>
<nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{placeholder}}"
  [errors]="inputControl.control.errors"></nt-control-message>
