@import "~sass/_palette.scss";
@import "~sass/_var.scss";
// :host {
//   align-self: flex-end;
// }
div {
  position: relative;
}

.error-text {
  position: initial; // right: 0;
  float: right; // top: -12px;
  font-size: $fs-s; // 0.8em;
  color: $multi-5;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: -12px;
  font-size: $fs-s; // 0.8em;
  color: $multi-3;
}
