@import '~sass/_palette.scss';
.breadcrumb {
  span {
    cursor: pointer;
  }
}

.text-color {
  color: $breadcrumb-text-color;
}

.active-text-color {
  color: $breadcrumb-active-text-color;
}

.heavy {
  font-weight: bold;
}