<p class="breadcrumb">
  <span *ngFor="let segment of segments; let last = last">
    <span class="prepend-text-color">{{ breadcrumbService.prependText$ | async}}</span>
    <a class="text-color" role="button" *ngIf="!last" (click)="navigateTo(segment)">{{friendlyName(segment)}}</a>
    <span class="text-color" *ngIf="!last"> > </span>
    <span class="active-text-color heavy" *ngIf="last">{{friendlyName(segment)}}</span>
    <span *ngIf="last && segment == '' " class="active-text-color heavy" >{{friendlyName('/')}}</span>
  </span>
</p>
