<div class="kitchen-header">
  <h2>Multi Autocomplete Example</h2>
</div>
<div class="kitchen-content">
  <form [formGroup]="form">
    <nt-multi-autocomplete [displayFn]="fn" [options]="options" [parent]="form" formControlName="multi" [required]="true"></nt-multi-autocomplete>
  </form>
  <nt-multi-autocomplete [displayFn]="fn" [options]="options" [(ngModel)]="val" [required]="true"></nt-multi-autocomplete>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-multi-autocomplete  [(ngModel)]="val" name="sample3" placeholder="Multi Autocomplete sample" [list]="options"
            [fn]="fn" required &gt;&lt;/nt-multi-autocomplete&gt;
    </code>
  </pre>
</div>
