<div class="sidenav-container" fxLayout="column">
  <md-toolbar class="sidenav-toolbar md-elevation-z2">
    <div fxLayout="row" style="width: 100%;">
      <span style="margin-left: 15px;" class="fade-in-on-icon-sidenav" fxFlexAlign="center">
        <img [src]="logo" style="width: 120px; vertical-align: text-top;">
            </span>
    </div>
  </md-toolbar>
  <md-button-toggle-group [ngModel]="view" *ngIf="countBriefcaseItems" class="fade-in-on-icon-sidenav" (change)="switchSideNavView($event.value)"
    fxLayoutAlign="space-between">
    <md-button-toggle fxFlex="grow" class="pentagon" value="home" [checked]="true">
      <md-icon svgIcon="icn_home" class="md-color2"></md-icon>
    </md-button-toggle>
    <md-button-toggle fxFlex="grow" class="pentagon1" value="briefcase">
      <nt-notify-badge class="md-color2" icon="icn_portfolio" [count]="countBriefcaseItems"></nt-notify-badge>
    </md-button-toggle>
    <md-button-toggle fxFlex="grow" class="pentagon2" value="deal" [checked]="goToDeal">
      <md-icon svgIcon="icn_application" class="md-color2"></md-icon>
    </md-button-toggle>
  </md-button-toggle-group>
  <div class="sidenav-scrollbar-container" fxFlex style="position: relative" fxLayout="column" fxLayoutAlign="stretch">
    <perfect-scrollbar fxFlex>
      <md-nav-list class="sidenav-list sidenav-toplevel">
        <nt-sidenav-item class="sidenav-item" *ngFor="let item of items | async" [item]="item"></nt-sidenav-item>
      </md-nav-list>
      <ng-content></ng-content>
    </perfect-scrollbar>
  </div>
  <div class="sidenav-footer-container" fxHide="true" fxHide.gt-sm="false">
    <div fxLayout="row" fxLayoutAlign="center end">
      <button md-button (click)="toggleIconSidenav(); lock = !lock;">
      <div [fxHide]="!lock" class="side-nav-lock">
        <md-icon class="fade-in-on-icon-sidenav" svgIcon="icn_unlock"></md-icon>
        <span>Unlock Side Bar</span>
      </div>
      <div [fxHide]="lock" class="side-nav-lock">
        <md-icon class="fade-in-on-icon-sidenav" svgIcon="icn_lock"></md-icon>
        <span>Lock Side Bar</span>
      </div>
      </button>
    </div>
  </div>
</div>
