@import '~sass/_var';
@import '~sass/themes';


.sidenav-container {
  md-button-toggle-group {
    min-height: 39px;
  }
}

md-toolbar.sidenav-toolbar {
  background: $background-color__sidenav-list;
  padding: 0 14px 0 24px;
  z-index: 3;
}
.side-nav-lock {
  md-icon {
    fill: $sidenav-lock-icon;
    width: 14px
  }

  span {
    color: $sidenav-lock-font;
  }
}
.sidenav-container {
  height: 100%;
}
.sidenav-scrollbar-container  {
  margin-bottom: 40px;
  overflow: hidden;
}
.sidenav-summary {
  margin: 8px;
  padding: 15px;
  background-color: $sidenav-tab-unselected;
  .mat-input-placeholder {
    color: $sidenav-field-label
  }
  .mat-input-element {
    color: $multi-2 !important;
  }
  .title {
    color: $sidenav-tab-selected;
    margin-bottom: 10px;
  }
}
.sidenav-footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.cdk-focus-trap-content, md-sidenav {
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.icon-sidenav-toggle {
  color: $color__sidenav-list;
  transition: transform .25s;

  &.rotate {
    transform: rotate(-180deg);
  }
}

.pentagon{
  // background-color: red;
  clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
}
.pentagon1{
  // background-color: greenyellow;
  clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
}
.pentagon2{
  // background-color: blue;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}
.mat-button-toggle-label-content {
  text-align: center !important;
  padding: $s-no !important;
  width: 100% !important;
  height: 100%;
}
[_nghost-c2] .mat-button-toggle-checked .mat-button-toggle-label-content{
    background-color: $background-color__toggle-group__active;
  }
