<h6 class="mt-s label-color">{{this['placeholder']}}</h6>
<div [formGroup]="parent">
  <ng-container [formGroupName]="key">
    <div fxLayout="column">
      <div fxLayout="row">
        <md-select class="mr-s" (change)="valuesChanges()" (focusout)="autoFormat()" fxFlex="40%" formControlName="cur" [placeholder]="'cis.lbl.ciscusfinstm.curcode' | multiLingua | async" [required]="this['required']">
          <md-option></md-option>
          <ng-container *ngFor="let c of currencyList">
            <md-option *ngIf="!disabledFn(c)" [value]="c.code">{{c.code}}</md-option>
          </ng-container>
        </md-select>
        <div fxFlex="60%" fxLayout="column">
          <md-input-container>
            <input ntTooltip (focusout)="autoFormat()" (showTooltip)="showTooltip = $event" [textMask]="inputMask" (input)="valuesChanges()" mdInput type="text"
              [min]="min" [max]="max" formControlName="amount" [placeholder]="'cmo.lbl.curamt.atlamt' | multiLingua | async" [required]="this['required']" style="text-align:right">
          </md-input-container>
          <nt-control-message [showTooltip]="showTooltip" [showRequired]="showRequired" [parent]="parent" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key).get('amount')"></nt-control-message>
        </div>
      </div>
    </div>
    <div *ngIf="convertedAmount >= 0 " [@fadeInSlideInY] fxLayout="column">
      <div *ngIf="changeFx" fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex>
          <nt-multi-lingua msgCode="cmo.lbl.fx.rt"></nt-multi-lingua>
        </div>
        <div fxFlex fxLayout="column">
          <nt-date-picker formControlName="date" [parent]="parent.get(key)" key='date' type="date" [placeholder]="'cmo.lbl.fxamt.fxrtdt' | multiLingua | async"></nt-date-picker>
          <md-input-container>
            <input mdInput (input)="rateChanges()" type="number" formControlName="rate" placeholder="Rate">
          </md-input-container>
        </div>
      </div>
      <div *ngIf="!changeFx" class="label-txt">
        <span>{{currentCurrencyType}} 1: {{baseCurrency}} 1</span>
        <span>@</span>
        <span class="text-underline">{{currencyRateTable[currentCurrencyType]}}</span>
        <span><nt-multi-lingua msgCode="cmo.lbl.on"></nt-multi-lingua></span>
        <span class="text-underline">{{currencyRateTable.lastUpdated | date:'yMd'}}</span>
      </div>
      <div class="label-txt">
        <p class="fx-rate-result">
          {{convertedAmount | currency:this.baseCurrency:false:'1.2-2'}}
        </p>
      </div>
    </div>
  </ng-container>
</div>
