/*
 * FX Rate
 */

.fx-rate {
  font-size: 0.65rem;
  position: relative;
  top: -9px;
  .fx-rate-result {
    float: right;
    position: relative;
    top: 0.7em;
  }
  .fx-rate-conversion {
    >span {
      margin-right: 5px;
    }
  }
}

.md-select-input-combo {
  .md-select-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-select-width-auto {
    min-width: auto;
  }
}

  .fx-rate-result {
    float: right;
  }