@import '~sass/_palette';
@import '~sass/_var';

/* You can refer to FONT guide for visual referencing */
// Note: bold=700, normal=300

/* ----------classes---------- */

  .main-title {
    @include xLarge-txt($fval-1...);
  }

  .main-title-white {
    @include xLarge-txt($fval-2...);
  }

  .sub-title {
    @include cus-txt(1.375rem, 300, $multi-3);
  }

  .small-title {
    @include med-txt($fval-3...);
  }

  .label-txt {
    @include med-txt($fval-1...);
  }

  .breadcrumb-txt {
    @include small-txt($fval-2...);
  }
  
  //dirty check message
  .dirtyMsg {
    font-size: $fs-s;
    color: $multi-3;
  }
