/* Common usage colors*/
$multi-1: #000; // General label font color. Input value color
$multi-2: #fff; // Header label color, selected content background color.
$multi-3: #176e82; // Small title color.
$multi-4: #2ecb71; // Color related to approve element.
$multi-5: #bc0808; // Color related to reject or warning element.
$multi-6: #adadad; // Disabled usage color.
$multi-7: #f2f2f2; // Table background.
$multi-8: #f7f7f7; // Right side navigaiton background color.

/* Theming usage colors*/
$primary: #A6CE4E; // Primary button, selected nav menu bg color.
$accent-1: #008C85; // Add button. Selected tab font color. Selected inputs color.
$accent-2: #008C85; // Action button, exit button.
$accent-3: #00565b; // Left side navigation background.
$accent-4: #003d3d; // Top Navigation background, application list menu background. Workflow bar background.
$accent-5: #a6db52; // Selected application tab and menu list item.
$accent-6: #45c4ce; // Chart label.
$accent-7: #7a7a7a; // Post-dateTime in overview, forum-sub.
$accent-8: #8c8c8b; // Notification background color.
$accent-9: #186e82; // Darkblue button in asm.
$accent-10: #009775; // Filter-downline.
$accent-11: #707070; // Md-input color overwrite, input deactive color.
$accent-12: #dff2f4; // Element on hover color.
$accent-13: #e5e5e5; // Content header background color.Dropdown seleced and onhover background color.
$accent-14: #d8fc8b; // Tab or toggle ink bar color.
$accent-15: #9e9e9e; // Chart(d3) line color.

$sub-1: #3e0000;
$sub-2: #d1d1d1;
$sub-3: #333333;
$sub-4: #f4f0ea;

/* Specific usage colors variable*/
$top-bg: $accent-4; // Top bar bg color, side nav dropdown list bg color.
$t-h: $accent-13; // Table header bg color.
$t-hover: $accent-12; // Table hover color.
$d3-1: $accent-15; // chart(d3) line color.
$form-bg: $multi-2; // Form container background

/* Left sidenav only */
$nav-bg: $accent-3; // Left side nav bg color.
$sidenav-item-selected-parent-background: $primary;
$ink-bar: $accent-14; // Selected nav menu left line color.
$sidenav-item-selected-parent-color: $multi-2;
$sidenav-item-child-background: $accent-4;
$sidenav-item-selected-child-background: transparent;
$sidenav-item-selected-child-color: $accent-5;
$sidenav-lock-icon: $accent-5;
$sidenav-lock-font: $accent-5;

/* Top nav only */
$breadcrumb-text-color: $multi-2;
$breadcrumb-active-text-color: $multi-3;
$top-text: $multi-2;
$topnav-burger: $multi-2;



