@import '~sass/_palette.scss';
// 1. Std size var
// 2. Std font size var
// 3. Font mixins common value set
// 4. Mixins - font, button
// 5. Top Toolbar
// 6. Sidenav
// 7. Background images

/*----------Standard spacing size var----------*/

$s-xl: 2rem;
$s-l: 1.5rem;
$s-m: 1rem;
$s-s: .5rem;
$s-no: 0;
$s-auto: auto;

/*----------Standard font size var----------*/

$fs-xl: 1.875rem;
$fs-l: 1.125rem;
$fs-m: .875rem;
$fs-s: .75rem;

/*----------Font mixins common value set----------*/

$fval-1: 300,
$multi-1; // std thin(normal) black font-style
$fval-2: 300,
$multi-2; // std thin(normal) white font-style
$fval-3: 700,
$multi-3; // std thick(bold) blue font-style

/*----------Mixins----------*/


/* Font Mixins */

@mixin xLarge-txt($w, $c) {
    font-size: $fs-xl !important;
    font-weight: $w !important;
    color: $c !important;
}

@mixin large-txt($w, $c) {
    font-size: $fs-l;
    font-weight: $w !important;
    color: $c !important;
}

@mixin med-txt($w, $c) {
    font-size: $fs-m !important;
    font-weight: $w !important;
    color: $c !important;
}

@mixin small-txt($w, $c) {
    font-size: $fs-s !important;
    font-weight: $w !important;
    color: $c !important;
}

@mixin cus-txt($s, $w, $c) {
    font-size: $s !important;
    font-weight: $w !important;
    color: $c !important;
}


/* BUTTONS */

@mixin btn($btn-bg, $btn-h, $btn-lh) {
    background-color: $btn-bg !important;
    height: $btn-h !important;
    line-height: $btn-lh !important; // re-align text due to change in button height
    &:disabled {
        background-color: $multi-6 !important;
    }
}


/*----------Top Toolbar----------*/

// topbar component variables
$background-color__sidenav-toolbar: $top-bg; // #272B35;
$height__main-toolbar: 64px;

/*----------Sidenav----------*/

// side nav component variables
$color__sidenav-list: $multi-6; // #A7A9AE; // toggle group
$background-color__toggle-group__active: $accent-5;
$background-color__sidenav-list: $nav-bg; // #2B303B;
$background-color__sidenav-list__hover: darken($background-color__sidenav-list, 4.5);
$background-color__sidenav-list__active: $sidenav-item-selected-child-background; // $background-color__sidenav-list__hover;
$color__sidenav-list__active: $accent-5;
$background-color__sidenav-list__level1: darken($background-color__sidenav-list, 2.5);
$background-color__sidenav-list__level1__hover: darken($background-color__sidenav-list__level1, 4.5);
$background-color__sidenav-list__level1__active: $accent-5; //$background-color__sidenav-list__level1__hover;
$color__sidenav-list__level1__active: $accent-5;
$background-color__sidenav-list__level2: darken($background-color__sidenav-list__level1, 2.5);
$background-color__sidenav-list__level2__hover: darken($background-color__sidenav-list__level2, 4.5);
$background-color__sidenav-list__level2__active: $background-color__sidenav-list__level2__hover;
$background-color__sidenav-list__level3: darken($background-color__sidenav-list__level2, 2.5);
$background-color__sidenav-list__level3__hover: darken($background-color__sidenav-list__level3, 1.5);
$background-color__sidenav-list__level3__active: $background-color__sidenav-list__level3__hover;
$background-color__sidenav-list__level4: darken($background-color__sidenav-list__level3, 2.5);
$background-color__sidenav-list__level4__hover: darken($background-color__sidenav-list__level4, 1.5);
$background-color__sidenav-list__level4__active: $background-color__sidenav-list__level4__hover;
$background-color__sidenav-list__level5: darken($background-color__sidenav-list__level4, 2.5);
$background-color__sidenav-list__level5__hover: darken($background-color__sidenav-list__level5, 1.5);
$background-color__sidenav-list__level5__active: $background-color__sidenav-list__level5__hover;
$background-color__sidenav-list__level6: darken($background-color__sidenav-list__level5, 2.5);
$background-color__sidenav-list__level6__hover: darken($background-color__sidenav-list__level6, 1.5);
$background-color__sidenav-list__level6__active: $background-color__sidenav-list__level6__hover;
$padding__sidenav-list__level2: 10px;
$padding__sidenav-list__level3: 20px;
$padding__sidenav-list__level4: 30px;
$padding__sidenav-list__level5: 40px;
$padding__sidenav-list__level6: 40px;
$width__sidenav: 250px;
$padding-left-right__sidenav-list__md-list-item: 24px;
$margin-left__sidenav-list__item-name: $padding-left-right__sidenav-list__md-list-item;
$width-height__sidenav-list__icon: 20px;
$max-width__sidenav-icon: ($padding-left-right__sidenav-list__md-list-item * 2)+$width-height__sidenav-list__icon;
$z-index__md-sidenav: 4;
$z-index__md-sidenav-content: 5;
$z-index__main-toolbar: 4;
// sidenav
$sidenav-bg: $multi-1;
$sidenav-tab-selected: $primary;
$sidenav-tab-unselected: $sub-1;
$sidenav-text-main: $multi-2;
$sidenav-text-sub: $sub-2;
$sidenav-field-label: $sub-2;
$sidenav-field: $multi-2;
$sidenav-text-lock: $multi-2;

/*---------- Background Images ----------*/

$login-background: url('/assets/login-bg.jpeg');
