@import '~sass/_font.scss';
@import '~sass/_var.scss';
// @import '~sass/_palette.scss';

/* You can refer to UI guide for visual referencing */

// 1. CONTAINER
// 2. BUTTONS
// 3. CARDS
// 4. GENERAL UTILITIES CLASSES
// 5. SPACING UTILITIES CLASSES
// 6. ICONS UTILITIES CLASSES

/** -------------------------------- ATOMS -------------------------------- **/


/* ----------CONTAINER---------- */

.container {
  overflow-x: auto;
  overflow-y: auto;
  padding: $s-l;
  height: calc(100% - 64px);
}

.tab-container {
  background-color: $multi-2;
  border: none;
  padding: $s-s;
}

  // Only apply this class when contrast with background doesn't fit accesibility requirement
  .form-container { 
    background-color: $form-bg;
    padding: $s-l;
  }

  .component-container {
    overflow-x: auto;
  }

/* ----------BUTTONS---------- */

.btn-open-close {
  @include cus-txt (0.625rem, 700, $multi-1);
  @include btn ('', 18px, 0px);
}


/* Reset Button*/

.btn-reset {
  @include med-txt($fval-1...);
  text-decoration: underline !important;
}


/* Primary Button*/

.btn-primary {
  @include med-txt(700, $multi-2);
  @include btn ($primary, 38px, 0px);
}

/* Adding Button*/

.btn-add {
  @include small-txt(700, $multi-2);
  @include btn ($accent-1, 27px, 0px);
}


/* Adding button for card bottom*/

.btn-card-add {
  @include med-txt(700, $multi-2);
  background-color: $accent-1 !important;
}


/* 'Add new row' button */

.btn-row-add {
  @include med-txt(300, $multi-3);
  text-decoration: underline !important;
}


/* Action Button*/

.btn-action {
  @include small-txt(700, $multi-2);
  @include btn ($accent-1, 27px, 0px);
}


/* Selection Button (green button)*/

.btn-select--approve {
  @include small-txt(700, $multi-2);
  @include btn ($multi-5, 27px, 1.8rem);
}

.btn-select--approve-clicked {
  @include small-txt(700, $multi-5);
  @include btn (transparent, 27px, 1.8rem);
}


/* Selection Button (red button)*/

.btn-select--reject {
  @include small-txt(700, $multi-2);
  @include btn ($multi-4, 27px, 1.8rem);
}

.btn-select--reject-clicked {
  @include small-txt(700, $multi-4);
  @include btn (transparent, 27px, 1.8rem);
}


/* Selection Button(action button)*/

.btn-select--exit {
  @include small-txt(700, $multi-2);
  @include btn ($accent-1, 27px, 1rem);
}


/** -------------------------------- MOLECULES -------------------------------- **/


/* ----------CARDS---------- */

  .card-container {
    padding: $s-no;
  }

  .card-hover:hover {
    background-color: $t-hover;
    cursor: pointer;
    border: 2px solid $multi-1;
  }

  .card-header {
    height: 36px; // line-height: 36px;
    background: $t-h; // width: 100%;
    padding: 0 $s-s;
  }

  // card title
  .card-label1 {
    @include large-txt(700, $multi-1);
    margin: $s-no;
  }

  .card-content {
    text-align: center;
    margin: 0 24px;
  }

  .card-content2 {
    width: 100%;
    text-align: left;
    padding: $s-s;
  }

  .card-content-base {
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: lighten($multi-3, 65%);
  }

  .card-label1 {
    @include large-txt(700, $multi-1);
    margin: $s-no;
  }

  .tag {
    &.card-label2 {
      @include med-txt(300, $multi-1);
      background-color: transparent;
      margin: 10px 0 14px 0;
    }
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    margin: 14px 0 10px 0;
    font-size: $fs-m;
    min-height: $fs-m;
    background-color: $multi-7;
    &:empty {
      background-color: transparent;
    }
  }

/** -------------------------------- UTILITIES -------------------------------- **/


/* ----------GENERAL UTILITIES CLASSES---------- */

  .label-color {
    color: $multi-1;
  }
  .full-width {
      width: 100%;
  }
  .pointer {
      cursor: pointer;
  }
  .align-self-btm {
    align-self: flex-end;
  }
  .text-center{
    text-align: center;
  }
  .text-underline {
    text-decoration: underline;
  }
  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .inner-scroll {
    height: 100%;
    overflow-y: auto;
  }

/* ----------SPACING UTILITIES CLASSES---------- */


/* ------------------------------------------- */

  .no-margin {
    margin: $s-no !important;
  }

  .auto-margin {
    margin: $s-auto !important;
  }

  .mar-xl {
    margin: $s-xl !important;
  }

  .mar-l {
    margin: $s-l !important;
  }

  .mar-m {
    margin: $s-m !important;
  }

  .mar-s {
    margin: $s-s !important;
  }


/* ------------------------------------------- */

  .mt-no {
    margin-top: $s-no !important;
  }

  .mb-no {
    margin-bottom: $s-no !important;
  }

  .ml-no {
    margin-left: $s-no !important;
  }

  .mr-no {
    margin-right: $s-no !important;
  }


/* ------------------------------------------- */

  .mt-auto {
    margin-top: $s-auto !important;
  }

  .mb-auto {
    margin-bottom: $s-auto !important;
  }

  .ml-auto {
    margin-left: $s-auto !important;
  }

  .mr-auto {
    margin-right: $s-auto !important;
  }


/* ------------------------------------------- */

  .mt-xl {
    margin-top: $s-xl !important;
  }

  .mt-l {
    margin-top: $s-l !important;
  }

  .mt-m {
    margin-top: $s-m !important;
  }

  .mt-s {
    margin-top: $s-s !important;
  }


/* ------------------------------------------- */

  .mb-xl {
    margin-bottom: $s-xl !important;
  }

  .mb-l {
    margin-bottom: $s-l !important;
  }

  .mb-m {
    margin-bottom: $s-m !important;
  }

  .mb-s {
    margin-bottom: $s-s !important;
  }


/* ------------------------------------------- */

  .ml-xl {
    margin-left: $s-xl !important;
  }

  .ml-l {
    margin-left: $s-l !important;
  }

  .ml-m {
    margin-left: $s-m !important;
  }

  .ml-s {
    margin-left: $s-s !important;
  }


/* ------------------------------------------- */

  .mr-xl {
    margin-right: $s-xl !important;
  }

  .mr-l {
    margin-right: $s-l !important;
  }

  .mr-m {
    margin-right: $s-m !important;
  }

  .mr-s {
    margin-right: $s-s !important;
  }

/* ------------------------------------------- */

  .no-padding {
    padding: $s-no !important;
  }

  .auto-padding {
    padding: $s-auto !important;
  }

  .padd-xl {
    padding: $s-xl !important;
  }

  .padd-l {
    padding: $s-l !important;
  }

  .padd-m {
    padding: $s-m !important;
  }

  .padd-s {
    padding: $s-s !important;
  }


/* ------------------------------------------- */

  .pt-no {
    padding-top: $s-no !important;
  }

  .pb-no {
    padding-bottom: $s-no !important;
  }

  .pl-no {
    padding-left: $s-no !important;
  }

  .pr-no {
    padding-right: $s-no !important;
  }


/* ------------------------------------------- */

  .pt-auto {
    padding-top: $s-auto !important;
  }

  .pb-auto {
    padding-bottom: $s-auto !important;
  }

  .pl-auto {
    padding-left: $s-auto !important;
  }

  .pr-auto {
    padding-right: $s-auto !important;
  }


/* ------------------------------------------- */

  .pt-xl {
    padding-top: $s-xl !important;
  }

  .pt-l {
    padding-top: $s-l !important;
  }

  .pt-m {
    padding-top: $s-m !important;
  }

  .pt-s {
    padding-top: $s-s !important;
  }


/* ------------------------------------------- */

  .pb-xl {
    padding-bottom: $s-xl !important;
  }

  .pb-l {
    padding-bottom: $s-l !important;
  }

  .pb-m {
    padding-bottom: $s-m !important;
  }

  .pb-s {
    padding-bottom: $s-s !important;
  }


/* ------------------------------------------- */

  .pl-xl {
    padding-left: $s-xl !important;
  }

  .pl-l {
    padding-left: $s-l !important;
  }

  .pl-m {
    padding-left: $s-m !important;
  }

  .pl-s {
    padding-left: $s-s !important;
  }


/* ------------------------------------------- */

  .pr-xl {
    padding-right: $s-xl !important;
  }

  .pr-l {
    padding-right: $s-l !important;
  }

  .pr-m {
    padding-right: $s-m !important;
  }

  .pr-s {
    padding-right: $s-s !important;
  }


/* ------------------------------------------- */


/* ----------ICONS UTILITIES CLASSES---------- */


/* add this class to fix alignment for md-icon within a material checkbox */

.checkbox-icon {
  margin-bottom: 0.25rem;
}


/* add these classes to modify md-icon size from 8px untill 40 px*/

@for $i from 8 through 40 {
  .md-#{$i} {
    width: 0px + $i !important;
    height: 0px + $i !important;
  }
}


/* add these classes to modify md-icon color */

.md-color1 {
  fill: $multi-1 !important;
  color: $multi-1 !important;
}

.md-color2 {
  fill: $multi-2 !important;
  color: $multi-2 !important;
}

.md-color3 {
  fill: $multi-3 !important;
  color: $multi-3 !important;
}

.md-color4 {
  fill: $multi-4 !important;
  color: $multi-4 !important;
}

.md-color5 {
  fill: $multi-5 !important;
  color: $multi-5 !important;
}


/* for icons placed inside md button (left / right) */

.icon-left {
  margin-left: $s-no !important;
}

.icon-right {
  margin-right: $s-no !important;
}


/* ----------(TOBE WORK WITH DESIGNER) LAYOUT RESPONSIVENESS UTILITIES CLASSES---------- */

.offset-top {
  margin-top: 1%;
}

.offset-bottom {
  margin-bottom: 1%;
}

.offset-left {
  margin-left: 1%;
}

.offset-right {
  margin-right: 1%;
}

.offset-top--lg {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    margin-top: 1%;
  }
}

.offset-bottom--lg {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    margin-bottom: 1%;
  }
}

.offset-left--lg {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    margin-left: 1%;
  }
}

.offset-right--lg {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    margin-right: 1%;
  }
}

.offset-top--md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    margin-top: 1%;
  }
}

.offset-bottom--md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    margin-bottom: 1%;
  }
}

.offset-left--md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    margin-left: 1%;
  }
}

.offset-right--md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    margin-right: 1%;
  }
}

.offset-top--sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    margin-top: 1%;
  }
}

.offset-bottom--sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    margin-bottom: 1%;
  }
}

.offset-left--sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    margin-left: 1%;
  }
}

.offset-right--sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    margin-right: 1%;
  }
}

.offset-top--xs {
  @media screen and (max-width: 599px) {
    margin-top: 1%;
  }
}

.offset-bottom--xs {
  @media screen and (max-width: 599px) {
    margin-bottom: 1%;
  }
}

.offset-left--xs {
  @media screen and (max-width: 599px) {
    margin-left: 1%;
  }
}

.offset-right--xs {
  @media screen and (max-width: 599px) {
    margin-right: 1%;
  }
}
