@import '~sass/_var.scss';


/*----------Material2 color overwrite----------*/
  $md-ink-bar-color: $ink-bar;// #49C3CD;


//1. FONT-FAMILY
//2. MD-INPUT
//3. MD-SELECT
//4. MD-CHIP
//5. MD-BUTTON
//6. MD-TABS
//7. MD-CARD
//8. MD-RADIO
//9. MD-ICON
//10. MD2-DATEPICKER
//11. CHECKBOX
//12. LIST-ITEM

:host /deep/ {
/* ---------------------------------FONT-FAMILY--------------------------------- */
  // overwrite md components on font family
  md-input-container,
  md-toolbar,
  md-card,
  md-tab-group,
  .mat-list-item-content,
  .mat-tab-link,
  .mat-tab-label,
  .mat-list-item,
  .mat-select,
  [md-button],
  [md-fab],
  [md-icon-button],
  [md-mini-fab],
  [md-raised-button],
  {
    font-family: helvetica, arial, sans-serif !important;
  }

/* ---------------------------------MD-INPUT--------------------------------- */
  /* Overwrite input font properties */
  md-input-container {
    font-size: $fs-m;
    // Removes md-input's underline if value is READ ONLY
    &.md-input-readOnly {
      .mat-input-element {
        color: initial;
      }
    }
  }

  // fix align height with select component
  .mat-input-wrapper {
    margin-top: .3rem;
  }

  // overwrite initial color of placeholder and underline for accessibility
  .mat-input-placeholder {
    font-weight: 300;
    color: $accent-11;
  }
  .mat-input-underline {
    border: 0;
    background-color: $accent-11;
    &.mat-disabled {
      background-position: 0;
      background-color: transparent;
    }
  }

  // overwrite theme color of placeholder and underline when onfocus
  .mat-focused {
    .mat-input-placeholder {
      color: $accent-1;
    }
    .mat-input-ripple {
        background-color: $accent-1;
    }
    .mat-input-placeholder.mat-float .mat-placeholder-required {
        color: $accent-1;
    }
  }

  // overwrite placeholder and underline when in required status
  .mat-input-invalid {
    .mat-input-placeholder {
      color: $accent-11;
    }
    .mat-input-underline {
      height: 2px;
      background-color: $multi-5;
    }
    .mat-input-placeholder.mat-float .mat-placeholder-required {
      color: $accent-11;
    }
    // overwrite theme color of placeholder and underline when onfocus after invalid click
    &.mat-focused {
      .mat-input-placeholder {
        color: $accent-1;
      }
      .mat-input-ripple {
          background-color: $accent-1;
      }
      .mat-input-placeholder.mat-float .mat-placeholder-required {
        color: $accent-1;
      }
    }
  }

  // .mat-input-suffix {
  //   // position: absolute;
  //   // right: 30px;
  //   // bottom: 16px;
  //   color: $accent-7; // #8c8c8b;
  // }

/* ---------------------------------MD-SELECT--------------------------------- */
  // modify mat-select to sync alignment with input field and deactive color placeholder, arrow and underline color
  .mat-select-trigger, .mat-select-arrow {
    font-size: $fs-m;
    margin: 1em 0;
    color: $accent-11;
  }
  .mat-select-underline {
    margin-bottom: -1px;
    background-color: $accent-11;
  }

  // .md-select-input-combo {
  //   .md-select-input {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  //   .md-select-width-auto {
  //     min-width: auto;
  //   }
  // }

  /* Overwrite select placeholder margins */
  .mat-select-placeholder.mat-floating-placeholder {
    top: -18px !important;
  }

  .mat-select-disabled {
    .mat-select-arrow  {
      color: $multi-6;
    }
  } 
  .mat-select:focus:not(.mat-select-disabled) {
    &.mat-primary {
      .mat-select-trigger, .mat-select-arrow {
          color: $accent-1;
        }

        .mat-select-underline {
          background-color: $accent-1;
          height: 2px;
        }
    }

    // &.mat-select-required .mat-select-placeholder::after {
    //   color: $accent-11;
    //  .mat-select-trigger, .mat-select-arrow {
    //       color: $multi-5;
    //     }

    //     .mat-select-underline {
    //       background-color: $multi-5;
    //       height: 2px;
    //     }
    // }
  }

  // overwrite placeholder underline and arrow when is required field
  .mat-select:focus:not(.mat-select-disabled).mat-warn,
  .mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) {
    .mat-select-placeholder {
        color: $accent-11;
    }
      .mat-select-trigger, .mat-select-arrow {
        color: $multi-5;
      }

      .mat-select-underline {
        background-color: $multi-5;
        height: 2px;
      }
  }

  // Hide asterisk of select componenent.
  .hideAtrSelect .mat-select-placeholder.ng-trigger.ng-trigger-transformPlaceholder::after {
      content: '';
    }

/* ---------------------------------MD-CHIP--------------------------------- */
  /* Overwrite chip styling */
  md-chip {
    cursor: pointer !important;
    padding: .3rem !important;
    margin: $s-s !important; // 0 .5rem !important;
    border-radius: 4px !important;
    font-weight: 700;
    height: 18px;
    font-size: 0.675rem !important;
  }

/* ---------------------------------MD-BUTTON--------------------------------- */
  /*Overwrite button font properties */
  [md-button],
  [md-fab],
  [md-icon-button],
  [md-mini-fab],
  [md-raised-button] {
    font-size: $fs-m;// 0.875rem;
  }

  .mat-raised-button {
    height: 38px;
  }

  .mat-button-toggle-checked .mat-button-toggle-label-content {
    background-color: $accent-1;//#49c3cd;
    color: $multi-2;
  }

/* ---------------------------------MD-TABS--------------------------------- */
  .mat-tab-link {
    // outer nav tab
    color: $multi-2;
    &.selected {
      color: $accent-1;//#49c3cd;
      border-bottom: 5px solid $accent-1;//#49c3cd;
      font-weight: 700;
    }
    // inner nav tab
    &.inner-tab {
      background-color: transparent;
      color: $multi-1;
      opacity: 1;
      &.selected {
        color: $accent-1;//#49c3cd;
        border-radius: 4px 4px 0 0;
        // border: 1px solid #cecece;
        border-bottom: $multi-2;
        margin-bottom: -1px;
        background-color: $multi-2;
      }
    }
  }

  /* temporary remove ink bar*/
  .mat-ink-bar {
    display: none;
  }

  /* remove bottom border for mat-tab */
  .mat-tab-header {
    border-bottom: none;
  }

  /* remove bottom border for mat-tab-nav */
  .mat-tab-nav-bar {
    border-bottom: none;
  }

  // .mat-tab-labels
  .mat-tab-label {
    color: $multi-1 !important;
    opacity: 1 !important;
  }

  /*temp*/
  .mat-tab-label-active {
    border-radius: 4px;
    // border: 1px solid #cecece;
    border-bottom: $multi-2;
    margin-bottom: -1px;
    background-color: $multi-2;
    color:#515151;
  }

  /* hide ink bar temp */
  md-tab-group>md-tab-header>div.mat-tab-label-container md-ink-bar {
    display: none;
  }

/* ---------------------------------MD-CARD--------------------------------- */
  /* overwrite main padding to 14px, set membercard padding to 0 for bottom button stick */
  md-card {
    padding: 14px;
    &.member-card {
      padding: $s-no !important;
      margin-bottom: $s-m;
    }
  }

/* ---------------------------------MD-RADIO--------------------------------- */
  md-radio-group {
    margin-bottom: $s-s;
    .mat-radio-label-content {
      padding-left: 5px;
      height: 12px;
      font-size: $fs-m;
    }
    .mat-radio-container {
      height: 0.875rem;
      width: 0.875rem;
    }
    .mat-radio-inner-circle,
    .mat-radio-outer-circle {
      height: $fs-m;
      width: $fs-m;
    }
  }

  md-radio-button {
    margin-right:1rem;
  }

/* ---------------------------------MD-ICON--------------------------------- */
  /* fix md-icon vertical alignment */
  md-icon {
    vertical-align: middle;
    margin: 0;
    height: 24px;
    width: 24px;
  }
  .md-inputs-icon-color {
    color: $accent-11;
  }s

/* ---------------------------------MD2-DATEPICKER--------------------------------- */
  /* modify datepicker font-size */
  .md2-datepicker-trigger {
    font-size: $fs-m;
  }

/* ---------------------------------CHECKBOX--------------------------------- */
  /* modify mat-checkbox alignment */
  .mat-checkbox-label {
    font-size: $fs-m;
    margin-top:0.2rem;
  }

.mat-checkbox-inner-container {
  height: 16px;
  width: 16px;
}

/* ---------------------------------LIST-ITEM--------------------------------- */
  /* Overwrite md-list-item font properties */
  .mat-list-item {
    font-size: $fs-l !important; //1.125rem !important;
    // span {
    //   margin-left: 1rem;
    // }
  }

}

/*-------------------------------------------------------------------------------------------------*/
