// You can add global styles to this file, and also import other style files
@import '~sass/themes';
@import '~sass/_font';
@import '~sass/_palette';
@import '~sass/global';

// 1. SPECIFIC UTILITIES
// 2. TOOLBARS
// 3. FILTER PANEL
// 4. Portfolio Rating chart responsiveness
// 5. ASM ATTACHMENT BAR

html,
body {
    font-family: 'helvetica', 'arial', 'sans-serif' !important;
    height: 100%;
    min-height: 100%;
    width: 100%;

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }
}
form {
  background-color: $form-bg;
  padding: 1rem;
}

/* ----------SPECIFIC UTILITIES---------- */

  .is-expanded-md-card {
    max-width: 100% !important;
    flex-shrink: 0.0001 !important;
  }

  // fix sidenav
  .sidenav-fix {
    position: fixed !important;
    width: 40% !important;
    top: 64px !important;
  }

  // fix tablet rendering on flex
  .tablet-fix {
    flex: 1 0 auto !important;
  }

  @media screen and (min-width: 1280px) {
    .left-panel {
      margin-bottom: $s-no;
    }
    .toolbar-rightPanel {
      padding-top: $s-no;
    }
  }

/* ----------TOOLBARS---------- */
  .toolbar {
    margin: 0 0.7em 0;
    .toolbar-text {
      @include med-txt (700, $multi-1);
      white-space: nowrap;
      margin-right: $s-s;
    }
    .toolbar-text--sec {
      @include med-txt (300, $multi-1);
    }
  }

  .toolbar-right-panel {
    padding-top: 10px;
  }

  .toolbar-right-panel-left {
    margin-right: auto;
  }

/* ----------FILTER PANEL---------- */

  // Checkbox Options
  .filter--portfolio {
    @include cus-txt(1rem, 700, $multi-1);
  }

  .filter--downline {
    @include cus-txt(1rem, 700, $accent-10);
  }

  .filter--group-members {
    @include cus-txt(1rem, 700, $multi-3);
  }

/* ----------KITCHEN SINK EXAMPLES LAYOUT---------- */

  .kitchen-header {
    background-color: $accent-9;
    color: $multi-8;
    padding: $s-m;
    text-align: center;
  }
  .kitchen-content {
    padding: $s-l;
  }
  .kitchen-footer {
    background-color: $multi-5;
    color: $multi-2;
    padding: $s-m;
    text-align: center;
    overflow-x: auto;
  }

/* ----------Portfolio Rating chart responsiveness---------- */
 .chart-res--rating {
   @media (max-width: 2561px) {
     width: 25%;
   }
   @media (max-width: 1919px) {
     width: 45%;
   }
   @media (max-width: 1279px) {
     width: 70%;
   }
   @media (max-width: 959px) {
     width: 90%;
   }
  }

/* ----------ASM ATTACHMENT BAR---------- */

  .attachment-bar {
    border: 1px solid $multi-6;
  }

  .attachment-bar-add {
    background:$accent-9;
    color: $multi-2;
    padding: $s-s;
  }
