@import '~@angular/material/theming';
@import '~sass/_palette.scss';
@include mat-core();
// attach one of the following css template class for custom themes
// .themes-name{
//     $primary: mat-palette($mat-blue, 800);
//     $accent:  mat-palette($mat-red, 600, A100, A400);
//     $warn:    mat-palette($mat-red, 100);
//     $theme: mat-light-theme($primary, $accent, $warn);
//     @include angular-material-theme($theme);
// }
// after create append the css class
// light themes
$primary: mat-palette($mat-light-blue, A400);
$accent : mat-palette($mat-blue, 600, A100, A400);
$warn : mat-palette($mat-red, A700);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
// .blue-red-themes {
//   $primary: mat-palette($mat-blue, 800);
//   $accent: mat-palette($mat-red, 600, A100, A400);
//   $warn: mat-palette($mat-red, 100);
//   $theme: mat-light-theme($primary, $accent, $warn);
//   @include angular-material-theme($theme);
// }

// .red-blue-themes {
//   $primary: mat-palette($mat-red, 600, A100, A400);
//   $accent: mat-palette($mat-blue, 800);
//   $warn: mat-palette($mat-red, 100);
//   $theme: mat-light-theme($primary, $accent, $warn);
//   @include angular-material-theme($theme);
// }

// // dark themes`
// .unicorn-dark-theme {
//   $dark-primary: mat-palette($mat-blue-grey);
//   $dark-accent: mat-palette($mat-amber, A200, A100, A400);
//   $dark-warn: mat-palette($mat-deep-orange);
//   $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
//   @include angular-material-theme($dark-theme);
// }
