<h6 class="mt-s label-color">{{placeholder}}</h6>
<div>
  <div fxLayout="column" class="address-container">
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="addr.addr1" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.addr1' | multiLingua | async"
        [required]="required" [disabled]="_disabled" #inputControlAddr1="ngModel" [maxLength]="maxLength.addr1" (blur)="blur()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="addr.addr2" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.addr2' | multiLingua | async"
        [disabled]="_disabled" [maxLength]="maxLength.addr2">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="addr.addr3" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.addr3' | multiLingua | async"
        [disabled]="_disabled" [maxLength]="maxLength.addr3">
    </md-input-container>
    <div fxLayout="row">
      <md-input-container fxFlex="50%" class="mr-s">
        <input mdInput [(ngModel)]="addr.postcode" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.postcode' | multiLingua | async"
          [required]="required" [disabled]="_disabled" #inputControlPostcode="ngModel" [maxLength]="maxLength.postcode" (blur)="blur()">
      </md-input-container>
      <md-input-container fxFlex="50%">
        <input mdInput [(ngModel)]="addr.city" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.city' | multiLingua | async"
          [required]="required" [disabled]="_disabled" #inputControlCity="ngModel" [maxLength]="maxLength.city" (blur)="blur()">
      </md-input-container>
    </div>
    <div fxLayout="row">
      <md-select fxFlex="50%" class="mr-s" [(ngModel)]="addr.ste" (ngModelChange)="updateAddressValue()" [placeholder]="'cmo.lbl.addr.ste' | multiLingua | async"
        [required]="required" [disabled]="_disabled" #inputControlSte="ngModel" (blur)="blur()">
        <md-option></md-option>
        <ng-container *ngFor="let s of states">
          <md-option *ngIf="!disabledFn(s)" [value]="s.code">{{s.dsc}}</md-option>
        </ng-container>
      </md-select>
      <md-select fxFlex="50%" [(ngModel)]="addr.cty" (ngModelChange)="updateAddressValue();filterStates();" [placeholder]="'cmo.lbl.addr.cty' | multiLingua | async"
        [required]="required" [disabled]="_disabled" #inputControlCty="ngModel" (blur)="blur()">
        <md-option></md-option>
        <ng-container *ngFor="let c of countries">
          <md-option *ngIf="!disabledFn(c)" [value]="c.code">{{c.dsc}}</md-option>
        </ng-container>
      </md-select>
    </div>
    <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{placeholder}}"
      [errors]="errors"></nt-control-message>
  </div>
</div>
