<div fxLayout="column">
  <label>Progress:</label>
  <md-slider class="mb-m"[(ngModel)]="value" (change)="checkComplete(value)"></md-slider>

  <md-progress-bar class="mb-m"
      [mode]="mode"
      [value]="value">
  </md-progress-bar>

  <label>Completed = {{completed}}</label>
</div>
