<div class="kitchen-header">
  <h2>Textarea</h2>
</div>
<div class="kitchen-content">
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-textarea [parent]="form" key="textarea" [required]="true"></nt-textarea>
  </form>
  {{form.value|json}}
</div>
<h3>NgModel</h3>
<nt-textarea [(ngModel)]="text"></nt-textarea>
{{text}}
<div class="kitchen-footer">
  <pre>
      <code>
        &lt;nt-version-build&gt;&lt;/nt-version-build&gt;
      </code>
    </pre>
</div>
