@import '~sass/_palette';

.line {
  width: 100%;
  height: 3px;
  background: $accent-3;
}

.block {
  border-radius: 0 0 5px 5px;
  background: $accent-3;
  color: $multi-2;
  padding: 5px 10px;
}

.cancelText {
  color: $multi-2;
  text-decoration: underline;
}

.application-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
