<div class="application-bar" fxLayout="column">
  <div fxFlex="100%" class="line">
    <!--Line -->
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" class="ml-l">
    <div class="block" fxLayout="column">
      <p class="small-title">
        <md-icon class="md-18">ligature</md-icon>{{aplId || 'NO DATA'}}</p>
      <p class="small-title">
        <md-icon class="md-18">ligature</md-icon>{{aplSts || 'NO DATA'}}</p>
    </div>
    <button md-button class="cancelText" (click)="cancelApplication()">Cancel Application</button>
  </div>
</div>
