<div class="kitchen-header">
  <h2>Org Chart Example</h2>
</div>
<div class="kitchen-content">
  Redo
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-org-chart [data]="orgChartData" [nodeConfig]="nodeModel"&gt;&lt;/nt-org-chart&gt;
    </code>
  </pre>
</div>
