<div class="kitchen-header">
  <h2>Phone No Example</h2>
</div>
<div class="kitchen-content" fxLayout="column">
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-phone-input [parent]="form" key="phoneNo" [required]="true"></nt-phone-input>
    <pre><code>{{form.value | json}}</code></pre>
  </form>
  <h3>NgModel</h3>
  <nt-phone-input [(ngModel)]="phone"></nt-phone-input>
  {{phone|json}}
</div>

<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-phone-input [parent]="form" key="phoneNo"&gt;&lt;/nt-phone-input&gt;
    </code>
  </pre>
</div>
