<div class="container">
  <h3 class="mb-m">Kitchen Sink</h3>

  <ul>
    <li class="home-text">For Antelope components, refer to the list on the left side nav.</li>
    <li class="home-text">For Material components, refer <a target="_blank" href="https://material.angular.io/components">here</a></li>
    <li class="home-text">For Antelope training, refer <a target="_blank" href="http://confluence.thetasp.com/confluence/display/ANTELOPE/Training">here</a></li>
    <li class="home-text">For Styling standards, refer <a target="_blank" href="http://confluence.thetasp.com/confluence/display/ANTELOPE/CSS+and+Styling">here</a></li>
    <li class="home-text">For Flex Layout wiki, refer <a target="_blank" href="https://github.com/angular/flex-layout/wiki">here</a></li>
    <li class="home-text">For Flex Layout live demo, refer <a target="_blank" href="https://tburleson-layouts-demos.firebaseapp.com/#/docs">here</a></li>
  </ul>
</div>
