<h6 class="mt-s label-color">{{placeholder}}</h6>
<div [formGroup]="parent">
  <div [formGroupName]="key" fxLayout="column" class="address-container">
    <md-input-container>
      <input mdInput type="text" formControlName="addr1" [placeholder]="'cmo.lbl.addr.addr1' | multiLingua | async" [required]="required">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="addr2" [placeholder]="'cmo.lbl.addr.addr2' | multiLingua | async">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="addr3" [placeholder]="'cmo.lbl.addr.addr3' | multiLingua | async">
    </md-input-container>
    <div fxLayout="row">
      <md-input-container fxFlex="50%" class="mr-s">
        <input mdInput formControlName="postcode" [placeholder]="'cmo.lbl.addr.postcode' | multiLingua | async" [required]="required">
      </md-input-container>
      <md-input-container fxFlex="50%">
        <input mdInput formControlName="city" [placeholder]="'cmo.lbl.addr.city' | multiLingua | async" [required]="required">
      </md-input-container>
    </div>
    <div fxLayout="row">
      <md-select fxFlex="50%" class="mr-s" formControlName="ste" [placeholder]="'cmo.lbl.addr.ste' | multiLingua | async" [required]="required">
        <md-option></md-option>
        <ng-container *ngFor="let s of states">
          <md-option *ngIf="!disabledFn(s)" [value]="s.code">{{s.dsc}}</md-option>
        </ng-container>
      </md-select>
      <md-select fxFlex="50%" formControlName="cty" [placeholder]="'cmo.lbl.addr.cty' | multiLingua | async" [required]="required">
        <md-option></md-option>        
        <ng-container *ngFor="let c of countries">
          <md-option *ngIf="!disabledFn(c)" [value]="c.code">{{c.dsc}}</md-option>
        </ng-container>
      </md-select>
    </div>
    <div class="error-text" *ngIf="errorMessage !== null">{{errorMessage}}</div>
  </div>
</div>
