@import "~sass/_palette.scss";
@import "~sass/_var.scss";

.address-container {
  border-left: 5px solid $accent-13;
  padding-left: 10px;
  margin: 0.5rem 0rem;
}

.error-text {
  align-self: flex-end;
  position: relative;
  bottom: 7px;
  font-size: $fs-s; // 0.8em;
  color: $multi-5;
  text-transform: lowercase;
}
