<md-card>
  <md-card-title>ID</md-card-title>
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-radio-button [options]="options" [parent]="form" key="radio"></nt-radio-button>
    {{form.value|json}}
  </form>
  <h3>NgModel</h3>
  <form class="pd-20">
    <nt-radio-button [options]="options" [(ngModel)]="radio" name="id"></nt-radio-button>
  </form>
  {{radio|json}}
  <pre>
      <code>
        &lt;nt-radio-button&gt;&lt;/nt-radio-button&gt;
      </code>
    </pre>
</md-card>
