<div class="kitchen-header">
  <h2>Custom Snackbar Example</h2>
</div>
<div class="kitchen-content">
  <div fxLayout="column" class="mb-m">
    <label><b>Message</b></label>
    <md-radio-group [(ngModel)]="msg">
      <md-radio-button value="Success" checked="checked">Success</md-radio-button>
      <md-radio-button value="Error">Error</md-radio-button>
    </md-radio-group>
  </div>
  <div fxLayout="column">
    <label class="mb-m mr-xl"><b>Time</b></label>
    <md-radio-group [(ngModel)]="time">
      <md-radio-button value="1000" checked="checked">1S</md-radio-button>
      <md-radio-button value="3000">3S</md-radio-button>
    </md-radio-group>
  </div>

  <button class="mt-m" fxLayout="row" md-raised-button (click)="openSnackBar()">Open Snack Bar</button>
</div>
