@import '~sass/_var.scss';
.red {
  color: $multi-5;
  font-size: 12px;
}

// /deep/ {
//   .form-unsubmitted .mat-input-invalid {
//     .mat-input-placeholder {
//       color: $accent-11 !important;
//     }
//     .mat-input-ripple {
//       background-color: $accent-11 !important;
//     }
//     &.mat-focused {
//       .mat-input-placeholder {
//         color: $accent-1 !important; // #00b0FF !important;
//       }
//       .mat-input-ripple {
//         background-color: $accent-1 !important; //#00b0FF !important;
//       }
//     }
//   }

//    //testing for filled input underline
//   .mat-input-container .ng-dirty .ng-touched .ng-valid {
//     &.mat-input-underline {
//       height: 2px;
//       color: $multi-1;
//       background-color: $multi-1;
//     }
//   }
// }
