<div class="tab-content">
  <nt-textarea [(ngModel)]="textContent" [isDisabled]="true"></nt-textarea>
  <form [formGroup]='form' ntDirtyCheck (ngSubmit)='validation(true)' [ngClass]="{ 'form-unsubmitted': !submitted }">
    <!-- Left Column -->
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxLayout="row" fxFlex="48%" class="tablet-fix">
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start stretch">
          <label class="red">Input Text Test (Required)</label>
          <nt-input key='text-test' maxLength="12" [parent]='form' ntMsgCode="cis.lbl.ciscus.fullnm" required></nt-input>

          <label class="red">ID component pair Test (conditional)</label>
          <nt-input-id ntCodeType="CODE.ID_T" [parent]="form" key="inputId" required="true"></nt-input-id>


          <label class="red">Input Number Integer Test</label>
          <label class="red">Input Date Picker Test</label>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <nt-input key='number-integer-test' fxFlex="48%" [parent]='form' masking='number' [validation]="{ range: { min:0, max: 200 } }"
              ntMsgCode="cis.lbl.dob.age"></nt-input>
            <nt-date-picker required="true" key='time-picker-test' [parent]='form' fxFlex="48%" ntMsgCode="cis.lbl.ciscus.bthdt" type="date"
              format="MM/DD/YYYY"></nt-date-picker>
          </div>

          <label class="red">Input Multi Currency Test</label>
          <nt-multi-currency required="true" key='multi-currency-test' masking="decimal" [parent]='form' ntMsgCode="cmo.lbl.curamt.atlamt"></nt-multi-currency>

          <label class="red">Input Number % Test</label>
          <nt-input key='number-percent-test' masking='percent' [parent]='form' ntMsgCode="lc.lbl.lcpcepckicerebbase.icerebval"></nt-input>

          <label class="red">Input Autocomplete Test</label>
          <nt-autocomplete required="true" key='autocomplete-test' [parent]='form' ntMsgCode="sec.lbl.secloginmb.usrid" ntCodeType="SEC.USR"></nt-autocomplete>

          <label class="red">Multiple Autocomplete Test</label>
          <nt-multi-autocomplete required="true" key="multi-complete-test" [parent]="form" ntMsgCode="cmo.lbl.secrolepmscbase.codests"
            ntCodeType="CODE.CODE_STS"></nt-multi-autocomplete>

          <label class="red">Input Dropdown Test</label>
          <nt-select required="true" key='dropdown-test' [parent]='form' ntMsgCode="cis.lbl.ciscus.mrlstscode" ntCodeType="CIS.MRL_STS"></nt-select>

          <label class="red">Input Time Picker Test</label>
          <nt-date-picker key='time-picker-test' [parent]="form" ntMsgCode="test.lbl.testcompositecpomb.time1" type="time" format="HH:mm:ss"></nt-date-picker>

          <label class="red">Input Password Test</label>
          <nt-input key='password-test' [parent]='form' type="password" ntMsgCode="sec.lbl.secloginmb.pwd"></nt-input>

          <label class="red">Input Checkbox Test</label>
          <nt-checkbox rowOrColumn="column" align="start" key='checkbox-test' [parent]='form' ntMsgCode="cis.lbl.ciscuscttdtl.ctttcode"
            ntCodeType="CIS.CTT_T"></nt-checkbox>

          <nt-radio-button required="true" key='radio-button-test' [parent]='form' ntMsgCode="cis.lbl.ciscus.shrinfidc" ntCodeType="CODE.YES_NO"></nt-radio-button>
        </div>
      </div>

      <!-- Column Gap -->
      <div fxLayout="row" fxFlex="4%">
      </div>

      <!-- Right Column -->
      <div fxLayout="row" fxFlex="48%" class="tablet-fix">
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start stretch">
          <label class="red">Input Phone Number Test</label>
          <nt-phone-input required="true" key='phone-number-test' [parent]='form' ntMsgCode="cis.lbl.ciscuscttdtl.ctttel"></nt-phone-input>

          <label class="red">Input Email Test</label>
          <nt-input key='email-test' required="true" [validation]="{email: true}" [parent]='form' ntMsgCode="cis.lbl.ciscuscttdtl.cttemail"></nt-input>

          <label class="red">Input Address Test</label>
          <nt-address required="true" key="address-test" [parent]="form"></nt-address>

          <label class="red">Input Textarea Test</label>
          <nt-textarea required="true" key='textarea-test' [parent]='form' ntMsgCode="lar.lbl.larfcydtl.othrsnrem"></nt-textarea>
          <nt-datepicker touchUi="true" required="true" key="date-picker-test" [parent]="form" ntMsgCode="cis.lbl.ciscus.bthdt"></nt-datepicker>
        </div>
      </div>
    </div>


    <!-- Bottom Row -->
    <div *ngIf="!disabled" fxLayout="column" fxLayout.lt-md="row" class="mt-m">
      <div fxLayout="column" fxLayoutAlign="start start" class="mr-m mb-s">
        <label class="red">Button No Mandatory Trigger Test</label>
        <button type='button' ntDirtyCheckButton dirtycheck="true" (click)="submit()" md-raised-button class="mt-s mb-s btn-primary">
            <nt-multi-lingua msgCode="cmo.lbl.update">cmo.lbl.update</nt-multi-lingua>
          </button>
      </div>

      <div fxLayout="column">
        <label class="red">Button Mandatory Test</label>
        <nt-submit-button [parent]='form' class="mt-s">
          <nt-multi-lingua msgCode="wfl.lbl.pcd">wfl.lbl.pcd</nt-multi-lingua>
        </nt-submit-button>
      </div>
    </div>
  </form>
  <div class="mt-m">
    <code>
      {{form.value | json}}
    </code>
  </div>
</div>
