<div class="container">
  <div class="header">
    <h3 class="main-title mb-m">
      <nt-multi-lingua msgCode="sys.ttl.dashboard.dashboard">sys.ttl.dashboard.dashboard</nt-multi-lingua>
    </h3>
  </div>

<md-tab-group>
    <md-tab [label]="'cis.lbl.ciscus' | multiLingua | async">
        <app-test-page-first-tab></app-test-page-first-tab>
    </md-tab>

    <md-tab [label]="'cmo.lbl.paging.display' | multiLingua | async">
        <app-test-page-second-tab></app-test-page-second-tab>
    </md-tab>

    <md-tab [label]="'sec.lbl.secasggrp2usrmb.qryobjdatamodel' | multiLingua | async">
        <app-test-page-third-tab></app-test-page-third-tab>
    </md-tab>

</md-tab-group>

</div>
