<div class="kitchen-header">
  <h2>Card List Example</h2>
</div>
<div class="kitchen-content">
  <nt-card [headerSetting]="headerSetting" [data]="data" [setting]="setting" [sortOptions]="sortOptions" showHeader="true"
    labelStyle="no-label" [cardActions]="actions"></nt-card>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
    &lt;nt-card&gt;&lt;/nt-card&gt;
    </code>
  </pre>
</div>
