@import '~sass/_var.scss';
  .d3-line {
    fill: none;
    stroke: $d3-1;
    stroke-width: 1.5px;
  }
  .d3-box {
    fill: $multi-2;
  }
  .d3-axis--noline {
    path, line {
      fill: none;
      stroke: none;
    }
  }
  #d3-chart-container {
    width: 100%;
    height: 100%;
  }