<span class="notification" [class.smaller-icon]="icon !== 'notifications'">
  <md-icon *ngIf="icon === 'notifications'">{{icon}}</md-icon>
  <md-icon *ngIf="icon !== 'notifications'" svgIcon="{{icon}}"></md-icon>
  <span *ngIf="count" class="badge" [class.badge-notify]="!isAllRead">{{count}}</span>
</span>
