@import "~sass/_font";
.notification {
  position: relative;
  .badge {
    @include cus-txt (12px, 700, $multi-2);
    min-width: 10px;
    padding: 3px 5px;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: $accent-8; // #999;
    border-radius: 10px;
    position: absolute;
    right: -6px;
    top: -6px;
  }
  .badge-notify {
    background-color: $multi-5;// red;
  }
  &.smaller-icon {
    .badge {
      padding: 3px;
      font-size: 10px;
    }
  }
}
