<div class="kitchen-header">
  <h2>Access Control</h2>
</div>
<div class="kitchen-content">
   <p *ngIf="'SYS.PMR|VW' | accessControl:'menu'"> Access Controlled Content with Menu SYS.PMR|VW </p>
   <p *ngIf="!('SYS.PMR|VW' | accessControl:'menu')"> Permission Menu SYS.PMR|VW  not available</p>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
    </code>
  </pre>
</div>
