@import '~sass/_var.scss';
@import '~sass/_palette.scss';
:host {
    width: 100%;
}

/deep/ {
    .mat-primary .mat-option.mat-selected {
        color: $multi-1;
        background-color: $accent-13;
    }
    .mat-option {
        color: $accent-11;
        font-size: $fs-m;
        &:hover {
            color: $multi-1;
            background-color: $accent-13;
        }
    }
}

.nt-select {
    .inactive {
        color: $multi-6;
    }
}