<div fxLayout="column">
  <md-select [(ngModel)]="value" #inputControl="ngModel" multiple="{{data.multiple || multiple}}" required="{{data.required||required}}"
    placeholder="{{data.placeholder || placeholder}}" [disabled]="_disabled" (blur)="blur()">
    <!-- Added the blank option -->
    <md-option *ngIf="empty" [value]="null"></md-option>
    <ng-container *ngFor="let option of options">
      <md-option [ngClass]="{'inactive': isInitialValue(option) && disabledFn(option)}" *ngIf="!disabledFn(option) || isInitialValue(option)"
        [value]="storeFn ? storeFn(option) : option.code" [disabled]="option.sts === 'I' && !isInitialValue(option)">
        {{displayFn ? displayFn(option) : option.dsc}}
      </md-option>
    </ng-container>
  </md-select>
  <nt-control-message [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}" [errors]="inputControl.control.errors"></nt-control-message>
</div>
