<div fxLayout="row" fxLayoutAlign="start center">
  <button ntDirtyCheckButton [indicator]="indicator" [dirtycheck]="dirtycheck" [type]=" mandatory ? 'submit' : 'button'" (click)="Submit()"
    md-raised-button class="btn-primary">
    <ng-content></ng-content>
  </button>
  <button *ngIf="resetButton" type="button" (click)="Reset()" md-button class="btn-reset"><nt-multi-lingua msgCode="cmo.lbl.reset"></nt-multi-lingua></button>
  <button *ngIf="!resetButton" type="button" (click)="Clear()" md-button class="btn-reset"><nt-multi-lingua msgCode="cmo.lbl.clear"></nt-multi-lingua></button>
</div>
