<div class="kitchen-header">
  <h2>Date Picker Example</h2>
</div>
<div class="kitchen-content" fxLayout="column">
  <h4>Date Picker</h4>
  <form [formGroup]="form">
    <nt-datepicker [parent]="form" key="date" format="MM/DD"></nt-datepicker>
  </form>
  {{form.value|json}}
  <nt-datepicker [(ngModel)]="date" format="MM/DD/YY" min="11/11/2017"></nt-datepicker>
  {{date}}
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-date-picker type="date" placeholder="Date" format="MM/DD/YYYY"&gt;&lt;/nt-date-picker&gt;
    </code>
  </pre>
</div>
