:host /deep/ {
  // modified header color
  .md2-datepicker-header {
    background: red;
  }
  .md2-calendar-day {
    // modified today color
    &.today {
      color: red;
    }
    // modified selected background color
    &.selected,
    &.selected:hover {
      background: red;
      color: white;
    }
  }
  .md2-datepicker-actions {
    .md2-button {
      color: red;
    }
  }
  .md2-calendar-year {
    &.selected {
      color: red;
    }
  }
//   edit place holder color
  nt-date-picker:focus {
    .md2-datepicker-placeholder {
      color: red;
    }
  }
}
