<div class="kitchen-header">
  <h2>Date Input Example</h2>
</div>
<div class="kitchen-content">
  <form #form="ngForm">
    <nt-date required="true" types="dates" placeholder="Date example" name="Date" [(ngModel)]="ddataModel">
    </nt-date>
    <nt-date required="true" types="times" placeholder="Time example" name="Time" [(ngModel)]="tdataModel">
    </nt-date>
    <nt-date required="true" types="datetimes" placeholder="Datetime example" name="DateTime" [(ngModel)]="dtdataModel">
    </nt-date>
    {{form.value | json}}
  </form>
</div>
<div class="kitchen-footer" style="text-align:left">
  <pre>
    <code>
      &lt;nt-date
        required="true"
        type="date"
        placeholder="Date example"
        name="Date"
        [(ngModel)]="ddataModel"&gt;
      &lt;/nt-date&gt;
      &lt;nt-date
        required="true"
        type="time"
        placeholder="Time example"
        name="Time"
        [(ngModel)]="tdataModel"&gt;
      &lt;/nt-date&gt;
    </code>
  </pre>
</div>
