<h6 class="mt-s label-color">{{placeholder}} <span *ngIf="required">*</span> </h6>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <md-select fxFlex="40%" class="mr-s" [(ngModel)]="id.idT" (ngModelChange)="updateIdValue(); setExistingMask()" (onOpen)="onOpen()"
      (onClose)="onClose()" [placeholder]="'cmo.lbl.entid.idt' | multiLingua | async" [required]="required" [disabled]="_disabled"
      #inputControlT="ngModel" (blur)="blur()">
      <md-option [value]="null"></md-option>
      <ng-container *ngFor="let option of options">
        <md-option *ngIf="!disabledFn(option)" [value]="storeFn(option)">{{displayFn(option)}}</md-option>
      </ng-container>
    </md-select>
    <div fxFlex="60%" fxLayout="column">
      <md-input-container>
        <input [(ngModel)]="id.idNbr" ntTooltip #inputControlNbr="ngModel" (ngModelChange)="updateIdValue();" (showTooltip)="showTooltip = $event"
          [textMask]="inputMask" mdInput type="text" [placeholder]="'cmo.lbl.entid.idnbr' | multiLingua | async" [required]="required"
          [attr.maxlength]="maxlength" [disabled]="_disabled" (blur)="blur()">
      </md-input-container>
    </div>
  </div>
  <nt-control-message [tooltip]="'cmo.lbl.entid.idnbr' | multiLinguaTooltip | async" [showTooltip]="showTooltip" [fieldName]="placeholder"
    [errors]="errors" [submitted]="_submitted"></nt-control-message>
</div>
