<div class="kitchen-header">
  <h2>Side Nav Form Example</h2>
</div>
<div class="kitchen-content">
  <button md-raised-button (click)="generateQuestions()">Show Questions</button>
  <button md-raised-button (click)="generateQuestions2()">Show Questions</button>
</div>
