<div>
  <button md-button [mdMenuTriggerFor]="menu"><md-icon svgIcon="icn_user"></md-icon><span class="ml-s">{{username}}</span></button>
  <md-menu #menu="mdMenu">
    <button type="button" md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon><span>Logout</span></button>
    <div class="version-box">
      <nt-version-build></nt-version-build>
    </div>
  </md-menu>
</div>
