<md-toolbar>
  <div fxFlex="100%" fxLayout="row" fxLayoutWrap="nowrap" fxLayoutAlign="space-around center">
    <div *ngIf="showMenu">
      <md-icon (click)="menuTrigger()" class="menu">menu</md-icon>
    </div>
    <div fxFlex="65%">
      <nt-breadcrumb class="breadcrumb-text"></nt-breadcrumb>
    </div>
    <div fxFlex="25%"></div>
    <button md-icon-button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="toggleFullscreen()">
      <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
      <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
    </button>
    <div *ngIf="notificationBlock" class="notification_content">
      <div class="inner-scroll" perfect-scrollbar>
        <md-grid-list cols="4" rowHeight="30px">
          <md-grid-tile [colspan]="1" [rowspan]="1">
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
    <nt-session-dropdown></nt-session-dropdown>
  </div>
</md-toolbar>