@import '~sass/_palette.scss';
@import '~sass/_var.scss';
.mat-toolbar {
    background-color: $top-bg;
    color: $top-text;
    font-size: 15px;
    white-space: normal !important;
}

.menu {
    margin: 20px;
    display: inline;
    color: $topnav-burger;
}

.notification_content {
    padding: 10px;
    padding-right: $s-no;
    padding-left: $s-no;
    color: $multi-1 !important;
    position: absolute;
    z-index: 5;
    border: 1px solid $accent-8;
    border-radius: 3px;
    top: 68px;
    right: 7px;
    width: 326px;
    height: 200px;
    background: $multi-2;
    &:before,
    &:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:before {
        border-bottom-color: $multi-2;
        border-width: 20px;
        left: 175px;
        margin-left: -20px;
    }
    &:after {
        border-bottom: $multi-2;
        border-width: 19px;
        left: 175px;
        margin-left: -19px;
    }
}

.mat-grid-tile {
    white-space: normal !important;
}

md-grid-list {
    &.list {
        cursor: pointer;
        &:hover {
            background-color: $t-hover;
        }
    }
}

.mat-grid-list {
    padding-top: 10px;
}

.day {
    background-color: $accent-9;
    color: $multi-2;
    padding: 5px;
}

.icon-noti {
    color: $accent-9;
}

.dateNoti {
    color: $multi-1;
}
