<div fxLayout="column">
  <md-input-container [class.md-input-readOnly]="data.disabled || isDisabled === 'true'">
    <textarea #textarea mdInput ntTooltip (showTooltip)="showTooltip = $event" [required]="required" mdTextareaAutosize [mdAutosizeMinRows]="rows"
      [mdAutosizeMaxRows]="maxRows" [attr.maxLength]="maxLength" [placeholder]="data.placeholder || placeholder" [(ngModel)]="value"
      #inputControl="ngModel" [disabled]="_disabled" (blur)="blur()">
    </textarea>
    <md-hint *ngIf="maxLength" align="end">{{textarea.value.length}} / {{maxLength}}</md-hint>
  </md-input-container>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}"
    [errors]="inputControl.errors"></nt-control-message>
</div>
