<div *ngIf="showResultSize || showSortOption" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <p *ngIf="showResultSize">{{length||data.length}}
      <nt-multi-lingua msgCode="cmo.lbl.result"></nt-multi-lingua>
    </p>
  </div>
  <div>
    <md-select *ngIf="showSortOption" [placeholder]="'cmo.lbl.srtby'|multiLingua|async" [(ngModel)]="sortBy" (change)="sortData()">
      <md-option *ngFor="let option of sortOptions" [value]="option">
        {{option.label}}
      </md-option>
    </md-select>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
  <ng-container *ngIf="!custom">
    <md-card fxFlexOffset="1%" *ngFor="let d of paginatedData;let cardIndex = index;" fxFlex.lt-md="100%" [ngClass]="{'selected':getSelected(cardIndex)}"
      [fxFlex]=" cardSize ||'30%'" class="no-padding mt-s" fxLayout="column">
      <div *ngIf="showHeader" class="card-header" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
        <md-icon *ngFor="let icon of headerSetting?.icons; let i = index;" (click)="iconClick(d,i,icon)" svgIcon="{{icon}}" class="md-14 pointer header-icon"></md-icon>
        <div class="text-ellipsis" fxFlex="55%" [mdTooltip]="getData(headerSetting?.title,d)">
          {{getData(headerSetting?.title,d)}}
        </div>
        <div fxFlex></div>
        <div class="text-approve" fxLayout="row" fxLayoutAlign="end center" [style.color]="headerSetting?.stsColor?(headerSetting?.stsColor[getData(headerSetting?.sts,d)]?headerSetting?.stsColor[getData(headerSetting?.sts,d)]:headerSetting?.stsColor['others']):''">
          {{getData(headerSetting?.sts,d)}} &nbsp;
          <md-icon class="md-14" [svgIcon]="headerSetting?.stsIcon"></md-icon>
        </div>
      </div>
      <div *ngIf="cardActions" class="mt-s ml-s mr-s body-icon" fxLayout="row" [fxLayoutAlign]="cardActions.align" fxLayoutWrap="wrap">
        <md-icon (click)="bodyIconClick(d,bodyIconIndex,icon)" *ngFor="let icon of cardActions.icons; let bodyIconIndex = index; "
          class="md-14 pointer" [svgIcon]="icon"></md-icon>
      </div>
      <div class="container" [ngClass]="{'pointer':clickable}" (click)="clickToSelect(d)" fxLayout="row" fxLayoutWrap="wrap">
        <ng-container *ngFor="let item of setting">
          <p *ngIf="labelStyle !=='no-label'" [fxFlex]="labelStyle === 'left-right'?'32%':(labelStyle ==='top-down'?'100%':'100%')"
            class="label-txt">{{item.label}}:</p>
          <p [class]="labelStyle ==='no-label' ? item.classes:''" [fxFlex]="labelStyle === 'left-right'?'70%':(labelStyle ==='top-down'?'100%':'100%')">
            <ng-container [ngSwitch]="item.type">
              <ng-container *ngSwitchCase="'currency'">
                <ng-container *ngIf="!item.currencyKey">{{getData(item.key,d) | currency:item.currency||'USD':item.symbol||false:item.decimal||'1.2-2'}}</ng-container>
                <ng-container *ngIf="item.currencyKey">{{getData(item.key,d) | currency:getData(item.currencyKey,i)||'USD':item.symbol||false:item.decimal||'1.2-2'}}</ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">{{getData(item.key,d) | number: item.decimal||'1.2-2'}}</ng-container>
              <ng-container *ngSwitchCase="'date'">{{getData(item.key,d) | date: item.date||'shortDate'}}</ng-container>
              <ng-container *ngSwitchCase="'array'">{{toArray(getData(item.key,d)).join(item.toArray)}}</ng-container>
              <ng-container *ngSwitchCase="'conditional'">
                {{item.conditions[getData(item.key,d)]?getData(item.conditions[getData(item.key,d)],d):getData(item.conditions['others'],d)}}
              </ng-container>
              <ng-container *ngSwitchCase="'function'">
                {{item.fn(d)}}
              </ng-container>
              <ng-container *ngSwitchDefault>{{getData(item.key,d)}}</ng-container>
            </ng-container>
            <md-icon *ngIf="item.appendIcon" class="md-14" [svgIcon]="item.appendIcon[getData(item.key,d)?getData(item.key,d):'others']"></md-icon>
          </p>
        </ng-container>
      </div>
    </md-card>
  </ng-container>
  <ng-content *ngIf="custom"></ng-content>
</div>
<md-paginator class="mt-s" *ngIf="data.length > defaultPageSize && pagination" [length]="length || data.length" [pageSize]="defaultPageSize"
  [pageSizeOptions]="pageSizes" (page)="pageChange($event)">
</md-paginator>
