<div *ngIf="showRework || showCancel || showActionInput" class="backdrop"></div>
<div *ngIf="showWorkflow" class="workflow-bar-space"></div>
<!--Rework Tab-->
<md-card fxFlex="100%" *ngIf="showRework" [@slideUp] class="workflow-list">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h3>
      <nt-multi-lingua msgCode="wfl.lbl.rwk"></nt-multi-lingua>
    </h3>
    <button md-icon-button (click)="closeRework()">
          <md-icon class="md-17" svgIcon="icn_remove"></md-icon>
      </button>
  </div>
  <div class="scroll">
    <div fxLayout="column">
      <form [formGroup]="formRework">
        <div>
          <nt-multi-autocomplete [parent]="formRework" key="rsnCodes" ntCodeType="WFL.RWK_RSN" ntMsgCode="wfl.lbl.rwk.wfl.rsn"></nt-multi-autocomplete>
        </div>
        <div *ngIf="showTask" class="mt-l tableDiv">
          <h5>
            <nt-multi-lingua msgCode="wfl.lbl.sel.task"></nt-multi-lingua>
          </h5>
          <!--table-->
          <nt-table [setting]="setting" [tableData]="reworkableTaskList" rightIcon="icn_exit" [accessControl]="rightIcon" (removeData)="workflowRework($event)"></nt-table>
        </div>
      </form>
    </div>
  </div>
</md-card>
<!--Cancel tab-->
<md-card fxFlex="100%" *ngIf="showCancel" [@slideUp] class="workflow-list">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h3>
      <nt-multi-lingua msgCode="wfl.lbl.can.wfl"></nt-multi-lingua>
    </h3>
    <button md-icon-button (click)="closeCancel()">
        <md-icon class="md-17" svgIcon="icn_remove"></md-icon>
    </button>
  </div>
  <div class="scroll">
    <form style="height:100%" fxLayout="column" fxLayoutAlign="space-between" [formGroup]="formCancel">
      <div fxLayout="row" fxLayoutGap="1%">
        <nt-multi-autocomplete fxFlex [parent]="formCancel" key="rsnCodes" ntCodeType="WFL.CAN_RSN" [placeholder]="'wfl.lbl.can.wfl.rsn' | multiLingua | async"
          [required]="true"></nt-multi-autocomplete>
        <nt-textarea fxFlex [parent]="formCancel" key="rem" maxRows="15" [placeholder]="'cmo.lbl.wflactionpanelmodel.rem' | multiLingua | async"></nt-textarea>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <button md-raised-button class="btn-primary" [disabled]="formCancel.invalid"><nt-multi-lingua msgCode="wfl.lbl.can.wfl"></nt-multi-lingua></button>
      </div>
    </form>
  </div>
</md-card>
<!--Proceed tab-->
<md-card fxFlex="100%" *ngIf="showActionInput" [@slideUp]="!showActionInput" class="workflow-list">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h3>
      {{this.actionInput[this.options][0].fctDsc}}
    </h3>
    <button md-icon-button (click)="closeInputAction()">
        <md-icon class="md-17" svgIcon="icn_remove"></md-icon>
    </button>
  </div>
  <div class="scroll">
    <form fxLayout="column" [formGroup]="formAction" (ngSubmit)="workflowProceed()">
      <ng-container *ngFor="let field of this.actionInput[this.options]">
        <ng-container *ngFor="let item of field['promptInputArgs']">
          <nt-input *ngIf="item.inputT === 'TEXT'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm" [required]="item.required"></nt-input>
          <nt-input *ngIf="item.inputT === 'NUMBER'" masking='number' [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm"
            [required]="item.required"></nt-input>
          <nt-input *ngIf="item.inputT === 'PASSWORD'" type="password" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm"
            [required]="item.required"></nt-input>
          <nt-textarea *ngIf="item.inputT === 'TEXT_AREA'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm" [required]="item.required"></nt-textarea>
          <nt-date-picker *ngIf="item.inputT === 'CALENDAR'" [min]="getMinDate(item.vldId,item.includeToday)" [max]="getMaxDate(item.vldId,item.includeToday)"
            [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm" [required]="item.required"></nt-date-picker>
          <nt-select *ngIf="item.inputT === 'SELECTONEMENU'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm" [required]="item.required"
            [ntCodeType]="item.codeT"></nt-select>
          <nt-checkbox *ngIf="item.inputT === 'CHECKBOX'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm" [required]="item.required"
            [ntCodeType]="item.codeT"></nt-checkbox>
          <nt-radio-button *ngIf="item.inputT === 'RADIOBUTTON'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm"
            [required]="item.required" [ntCodeType]="item.codeT"></nt-radio-button>
          <nt-autocomplete *ngIf="item.inputT === 'AUTOCOMPLETE'" [placeholder]="item.defMsg" [parent]="formAction" [key]="item.nm"
            [required]="item.required" [ntCodeType]="item.codeT"></nt-autocomplete>
          <nt-multi-autocomplete *ngIf="item.inputT === 'AUTOCOMPLETE_MULTIPLE'" [placeholder]="item.defMsg" [parent]="formAction"
            [key]="item.nm" [required]="item.required" [ntCodeType]="item.codeT"></nt-multi-autocomplete>
        </ng-container>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="end end">
        <button md-raised-button class="btn-primary" [disabled]="formAction.invalid"><nt-multi-lingua msgCode="wfl.lbl.pcd"></nt-multi-lingua></button>
      </div>
    </form>
  </div>
</md-card>

<md-toolbar class="workflow-bar" *ngIf="showWorkflow">
  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start center">
      <md-select [(ngModel)]="options" placeholder="Workflow Action" floatPlaceholder="never" [disabled]="showActionInput">
        <md-option *ngFor="let action of actions" [value]="action"> {{action}}</md-option>
      </md-select>
      <button [disabled]="showActionInput" md-raised-button class="btn-add" (click)="toggleProceed()"><nt-multi-lingua msgCode="wfl.lbl.pcd"></nt-multi-lingua></button>
      <button md-raised-button class="btn-action" (click)="toggleRework()"><nt-multi-lingua msgCode="wfl.lbl.rwk"></nt-multi-lingua><md-icon *ngIf="!showRework"  svgIcon="icn_workflow_show" class="md-15"></md-icon></button>
      <button md-button style="text-decoration:underline;color:white" (click)="toggleCancel()"><nt-multi-lingua msgCode="wfl.lbl.can.wfl"></nt-multi-lingua></button>
    </div>
    <span fxFlex></span>
    <div fxFlex="40%" fxLayout="row" fxLayoutAlign="end center">
      <ng-container *ngIf="!showRework && !showCancel && !showActionInput">
        <button (click)="toggleLock()" *ngIf="!lock" md-icon-button>
          <md-icon class="md-18" svgIcon="icn_lock"></md-icon>
        </button>
        <button (click)="toggleLock()" *ngIf="lock" md-icon-button>
          <md-icon class="md-18" svgIcon="icn_unlock"></md-icon>
        </button>
        <button (click)="toggleWorkflow()" md-icon-button>
          <md-icon class="md-18" svgIcon="icn_workflow_hide"></md-icon>
        </button>
      </ng-container>
    </div>
  </div>
</md-toolbar>
<div md-ripple class="hidden-workflow" (click)="toggleWorkflow()" *ngIf="!showWorkflow">
  <span><md-icon svgIcon="icn_workflow_show" class="md-15"></md-icon>
  <nt-multi-lingua msgCode="wfl.mn.wfl"></nt-multi-lingua></span>
</div>
