@import '~sass/_palette';
/deep/ .mat-toolbar {
  &.workflow-bar {
    background-color: $accent-4;
    min-height: 40px;
    height: 48px;
    z-index: 9999;
    .mat-toolbar-layout {
      .mat-toolbar-row {
        height: 48px;
      }
    }
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  z-index: 9998;
}

.workflow-bar-space {
  height: 3rem;
}

.workflow-list {
  bottom: 48px;
  width: 100%;
  min-height: 60%;
  max-height: 80%;
  position: fixed;
  z-index: 9999;
}

.workflow-bar {
  position: fixed;
  bottom: 0;
}

.scroll {
  position: absolute;
  overflow-y: auto;
  width: calc(100% - 1rem);
  height: calc(100% - 60px);
}

.tableDiv {
  display: inline-block;
  width: 100%;
}

.hidden-workflow {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 9999;
  padding: 1%;
  color: $multi-2;
  background: $accent-4;
  border-radius: 5px 5px 0 0;
}

.btn-add {
  margin-left: 15px;
}

:host /deep/ {
  .mat-select-trigger {
    color: $multi-2;
    min-width: 150px;
    span {
      color: $multi-2;
      &.mat-select-underline {
        background-color: $multi-2;
      }
    }
  }
}
