<div fxLayout="row" fxLayoutAlign="start center">
  <button ntDirtyCheckButton [dirtycheck]="dirtycheck" [type]=" mandatory ? 'submit' : 'button'" (click)="Submit()"
    md-raised-button class="btn-primary">
    <ng-content></ng-content>
  </button>
  <button type="button" (click)="Reset()" md-button class="btn-reset"><nt-multi-lingua [msgCode]="resetLocaleCode"></nt-multi-lingua></button>
</div>
