<div class="kitchen-header">
  <h2>Custom Input Example</h2>
</div>
<div class="kitchen-content">
  <md-select [(ngModel)]="selectType" placeholder="Input Type" name="name">
    <md-option value="text">Text</md-option>
    <md-option value="number">Integer</md-option>
    <md-option value="currency">Currency</md-option>
    <md-option value="decimal">Decimal</md-option>
    <md-option value="percent">Percentage</md-option>
  </md-select>
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-input type="number" [parent]="form" max="5" min="2" [required]="true" [masking]="selectType" [placeholder]="selectType"
      key="modelName"></nt-input>
    {{form.value | json}}
  </form>
  <h3>NgModel</h3>

  <nt-input name="i" [(ngModel)]="input" [masking]="selectType" minLength="2"></nt-input>

  value :{{input}}
</div>
<div class="kitchen-footer" style="text-align:left;">
  <pre>
    <code>
      {{snippet}}
    </code>
  </pre>
</div>
