<h6 class="mt-s label-color">{{placeholder}} <span *ngIf="required">*</span></h6>
<section class="nt-checkbox" [fxLayout]="rowOrColumn" [fxLayoutAlign]="align" fxLayoutWrap>
  <ng-container *ngFor="let checkbox of options;let i = index">
    <md-checkbox *ngIf="!disabledFn(checkbox) || isInitialValue(checkbox)" [class]="checkbox.type" (change)="setSelectedCheckbox(i);" [disabled]="_disabled"
      [ngClass]="{'inactive': isInitialValue(checkbox) && disabledFn(checkbox)}" [checked]="selectedCheckbox[i]" class="item">
      <md-icon svgIcon="{{checkbox.icon}}" class="md-14"></md-icon>
      {{checkbox.dsc}}
    </md-checkbox>
  </ng-container>
</section>
