<div class="kitchen-header">
  <h2>Icons Example</h2>
</div>
<div class="kitchen-content" fxLayout="column">
  <div *ngFor="let s of svg">
   <p><md-icon svgIcon="{{'icn_'+ s}}"></md-icon> icn_{{s}}.svg</p>
  </div>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;md-icon svgIcon="icn_FD"&gt;&lt;/md-icon&gt;
    </code>
  </pre>
</div>
