<md-sidenav class="sidenavForm sidenav-fix" align="end" mode="over" #sidenav>
  <md-icon class="sidenavForm-close" (click)="sidenav.close()">clear</md-icon>
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center stretch">
    <ng-template ntDynamicCmpHost></ng-template>
    {{form.value | json}}
  </form>
</md-sidenav>
