@import '~sass/_palette.scss';
@import '~sass/_var.scss';
.sidenavForm {
  // width: 340px;
  form {
    padding: 40px;
  }
  .sidenavForm-title {
    margin-bottom: $s-l !important; //1.5em
  }
  .sidenavForm-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: $accent-8;// #BDBDBD;
    &:hover {
      color: $accent-7; //#757575;
    }
  }
  .sidenavForm-readOnly {
    margin-bottom: 1.1em;
  }
  .sidenavForm-readOnlyContainer {
    margin-bottom: 1.57em;
  }
  .sidenavForm-readOnlyLabel {
    @include cus-txt(0.7rem, 300, $accent-8);
    margin: 0.3em 0;
  }
  .sidenavForm-readOnlyText {
    margin: $s-no;
  }
}
