@import '~sass/_palette.scss';
@import '~sass/_var.scss';

.selected {
	font-size: $fs-m;
	border: 1px solid rgba($multi-1, 0.12);
	float:left; 
	padding:2px 15px;
	margin-top: 2px;
	margin-right: 2px; 
	&:hover {
		background-color: $accent-12;
	}
}
 
.selected a{
	cursor:pointer;
	font-weight:700;
	text-align: center;
	vertical-align: middle;
}

.selected span{
	margin-right: 5px;
	vertical-align: middle;
}

.auto-icon {
	margin-bottom: 0.15rem;
}