<md-card>
  <md-card-title>ID</md-card-title>
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-input-id [parent]="form" key="id" ntCodeType="CODE.ID_T" [required]="true"></nt-input-id>
    {{form.value |json}}
  </form>
  <h3>NgModel</h3>
  <div class="pd-20">
    <nt-input-id [(ngModel)]="id" ntCodeType="CODE.ID_T"></nt-input-id>
  </div>
  {{id|json}}
  <pre>
    <code>
      &lt;nt-input-id&gt;&lt;/nt-input-id&gt;
    </code>
  </pre>
</md-card>
