<div *ngIf="parent" [formGroup]="parent" fxLayout="column">
  <md-input-container [dividerColor]="'primary'" [class.md-input-readOnly]="data.disabled || isDisabled === 'true'">
    <span mdSuffix>{{prefix}}</span>
    <input
      mdInput
      ntTooltip
      (showTooltip)="showTooltip = $event"
      [textMask]="inputMask"
      [required]="required"
      [attr.maxlength]="maxLength"
      placeholder="{{data.placeholder || placeholder}}"
      [formControlName]="data.key || key"
      [type]="type">
      <span mdSuffix>{{suffix}}</span>
  </md-input-container>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [showRequired]="showRequired" [parent]="parent" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key)"></nt-control-message>
</div>
<div *ngIf="!parent" fxLayout="column">
  <md-input-container [class.md-input-readOnly]="data.disabled || isDisabled === 'true'">
    <span mdSuffix>{{prefix}}</span>
    <input
      mdInput
      [textMask]="inputMask"
      [required]="required"
      placeholder="{{data.placeholder || placeholder}}"
      [(ngModel)]="this['value']"
      [disabled]="isDisabled"
      [type]="type"
      #input="ngModel">
      <span mdSuffix>{{suffix}}</span>
  </md-input-container>
  <!--<nt-control-message fieldName="{{data.placeholder || placeholder}}" [control]="input"></nt-control-message>-->
</div>

