<div fxLayout="column">
  <md-input-container [dividerColor]="'primary'">
    <span mdSuffix>{{prefix}}</span>
    <input mdInput ntTooltip (showTooltip)="showTooltip = $event" [textMask]="inputMask" [required]="required" [attr.maxlength]="maxLength"
      [attr.minlength]="minLength" [minlength]="minLength" [maxlength]="maxLength" [ntMax]="max" [ntMin]="min" placeholder="{{data.placeholder || placeholder}}"
      [(ngModel)]="value" #inputControl="ngModel" [type]="type" [disabled]="_disabled" (blur)="blur()" [email]="email" [pattern]="pattern">
    <span mdSuffix>{{suffix}}</span>
  </md-input-container>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}"
    [errors]="inputControl.control.errors"></nt-control-message>
</div>
