<div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="toolbar-text"><nt-multi-lingua msgCode="cmo.lbl.fte.by"></nt-multi-lingua></span>
  <md-chip class="btn-open-close" fxLayout="row" fxLayoutAlign="center center" (click)="onToggleBtnClick()" [fxHide]="!filterTrigger">
    <md-icon svgIcon="icn_view_open" class="md-20 icon-left mr-s" svgIcon="icn_view_open">visibility</md-icon>
    <nt-multi-lingua msgCode="cmo.lbl.open"></nt-multi-lingua>
  </md-chip>
  <md-chip class="btn-open-close" fxLayout="row" fxLayoutAlign="center center" (click)="onToggleBtnClick()" [fxHide]="filterTrigger">
    <md-icon svgIcon="icn_view_close" class="md-20 icon-left mr-s" svgIcon="icn_view_close">visibility_off</md-icon>
    <nt-multi-lingua msgCode="cmo.lbl.close"></nt-multi-lingua>
  </md-chip>
</div>
<md-card [class.hidePanel]="filterTrigger">
  <ng-content></ng-content>
  <nt-checkbox [placeholder]="checkboxPlaceholder" *ngIf="checkboxCodeType" [ngModel]="selectedCheckbox" (ngModelChange)="checkboxChange($event)"
    rowOrColumn="column" [ntCodeType]="checkboxCodeType"></nt-checkbox>
</md-card>
