<div class="kitchen-header">
  <h2>Back Button Example</h2>
</div>
<div class="kitchen-content" fxLayout="row">
  <nt-back-button></nt-back-button>
  &larr;&larr;&larr; <i>click the back icon</i>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-back-button&gt;&lt;/nt-back-button&gt;
    </code>
  </pre>
</div>
