<h6 class="mt-s mb-s label-color">{{this["placeholder"]}}</h6>
<div class="nt-radio" [formGroup]="parent" fxLayout="column">
  <md-radio-group [formControlName]="key" [fxLayout]="!vertical ? 'row' : 'column' " [required]="required">
    <ng-container *ngFor="let option of options">
      <md-radio-button class="mr-s" [ngClass]="{'inactive': isInitialValue(option) && disabledFn(option)}" *ngIf="!disabledFn(option) || isInitialValue(option)"
        [value]="displayValFn(option)">{{ displayFn(option) }}</md-radio-button>
    </ng-container>
  </md-radio-group>
  <nt-control-message [showRequired]="showRequired" [parent]="parent" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key)"></nt-control-message>
</div>