<div class="kitchen-header">
  <h2>Checkbox Example</h2>
</div>
<div class="kitchen-content">
  <h3>Form</h3>
  <form [formGroup]='form'>
    <nt-checkbox rowOrColumn="row" align="space-around" ntCodeType="CIS.CTT_T" placeholder="example" key='checkbox-test' [parent]='form'></nt-checkbox>
  </form>
  {{form.value|json}}
</div>
<h3>NgModel</h3>
<nt-checkbox placeholder="example" [(ngModel)]="checkbox" ntCodeType="CIS.CTT_T"></nt-checkbox>
{{checkbox |json}}
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-checkbox rowOrColumn="row" align="space-around" placeholder="hehe" key='checkbox-test' [parent]='form'
      ntCodeType="CIS.CTT_T"&gt;&lt;/nt-checkbox&gt;
    </code>
  </pre>
</div>
