<h6 class="mt-s label-color">{{placeholder}} <span *ngIf="required">*</span> </h6>
<div fxLayout="column">
  <div fxLayout="row">
    <md-select class="mr-s hideAtrSelect" fxFlex [(ngModel)]="phoneData.ctyCode" (ngModelChange)="updatePhoneValue();setPrefix()"
      [required]="required" (onOpen)="onOpen()" (onClose)="onClose()" ntCodeType="CIS.CTT_T" [disabled]="_disabled" #inputControlCode="ngModel"
      (blur)="blur()">
      <md-option [value]="null"></md-option>
      <ng-container *ngFor="let item of options">
        <md-option *ngIf="!disabledFn(item)" [value]="storeFn(item)">
          {{displayFn(item)}}
        </md-option>
      </ng-container>
    </md-select>
    <md-input-container fxFlex="60%">
      <input mdInput type="text" [(ngModel)]="phoneData.no" (ngModelChange)="updatePhoneValue()" #inputControlNo="ngModel" [attr.minLength]="minLength"
        [attr.maxLength]="maxLength" [required]="required" [disabled]="_disabled" (blur)="blur()">
      <span [ngClass]="{pref: _disabled}" mdPrefix>{{prefix}}</span>
    </md-input-container>
  </div>
  <nt-control-message [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}" [errors]="errors"></nt-control-message>
</div>
