<div class="kitchen-header">
  <h2>Workflow Bar Example</h2>
</div>
<form [formGroup]="form">
  <nt-input [parent]="form" key="aplRef" placeholder="Application Ref" [required]="true"></nt-input>
  <nt-input [parent]="form" key="taskId" placeholder="Task Id" [required]="true"></nt-input>
  <nt-submit-button [parent]="form" [isDisabled]="form.invalid" (submit)="submit()">
    Submit
  </nt-submit-button>
</form>
<nt-workflow-bar *ngIf="activeWorflow"></nt-workflow-bar>
<div class="kitchen-footer">
  <pre>
    <code>
       &lt;nt-workflow-bar &gt; &lt;/nt-workflow-bar &gt;
    </code>
  </pre>
</div>
