<div fxLayout="row" fxLayoutAlign="center stretch">
  <button class="search-button" md-button (click)="open()">
    <md-icon>search</md-icon>
  </button>
  <md-input-container class="search" [class.search-open]="isOpen">
    <input #input (blur)="close()" [(ngModel)]="value" mdInput placeholder="{{placeholder}}">
  </md-input-container>
</div>
