@import "~sass/_palette";

.search {
  margin-left: 8px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all .4s cubic-bezier(.35,0,.25,1);

  &.search-open {
    width: 250px;
    visibility: visible;
    opacity: 1;
  }
}

.search-button {
  border-radius: 0;
  padding: 0;
  min-width: 50px;
  max-width: 50px;
}



input[type="search"] {
  -webkit-appearance: none;
}

.search-wrapper {
  position: relative;
  flex-grow: 1.5;

  .search-icon {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    transition: color 0.2s ease;
  }

  input.search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    box-shadow: 0 1px 1.5px rgba(0,0,0,0.06),0 1px 1px rgba(0,0,0,0.12);
    height: 36px;
    transition: all 0.2s ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 300;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    &::-webkit-input-placeholder {  color: currentColor;  }
    &:-moz-placeholder {  opacity: 1;  color: currentColor;  }
    &::-moz-placeholder {  opacity: 1;  color: currentColor;  }
    &:-ms-input-placeholder {  color: currentColor;  }
  }

  &.focus {
    .search-icon {
      color: rgba(0, 0, 0, 0.87);
    }

    input.search-input {
      background: $multi-2;
      color: rgba(0, 0, 0, 0.87);

      &::-webkit-input-placeholder {  color: rgba(0, 0, 0, 0.87);  }
      &:-moz-placeholder {  opacity: 1;  color: rgba(0, 0, 0, 0.87);  }
      &::-moz-placeholder {  opacity: 1;  color: rgba(0, 0, 0, 0.87);  }
      &:-ms-input-placeholder {  color: rgba(0, 0, 0, 0.87);  }
    }
  }
}
