<div class="kitchen-header">
  <h2>Auto Complete Example</h2>
</div>
<div class="kitchen-content">
  <form [formGroup]="form">
    <div fxLayout="column">
      <label>Single Autocomplete</label>
      <nt-autocomplete [parent]="form" [options]="options" [fn]="fn" [validation]="{minlength: 1}" [placeholder]="'Single'" formControlName="autoSingle"
        [required]="true"></nt-autocomplete>
      <p class="mt-l mb-l">{{form.value | json}}</p>
    </div>
  </form>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-autocomplete [parent]="form" [options]="options" [fn]="fn" [validation]="&#123;minlength: 2&#125;"
      [placeholder]="'Single'" key="autoSingle" [required]="true"&gt;&lt;/nt-autocomplete&gt;
    </code>
  </pre>
</div>
