<md-card class="nt-tree">
  <div class="scroll-container">
    <ul class="header" *ngIf="config.columnName">
      <li [class]="header.type" *ngFor="let header of config.columnName; let i = index;" [ngStyle]="{width: header.width }">
        <nt-multi-lingua msgCode="{{ header.name }}">Header</nt-multi-lingua>
      </li>
    </ul>
    <tree-root [nodes]="nodes" [options]="treeOpts">
      <ng-template #treeNodeTemplate let-node>
        <md-icon *ngIf="node.data.icon" svgIcon="{{node.data.icon}}" class="md-12 icon"></md-icon>
        <ul [class.styleRows]="styleRows" [class]="node.data[styleRows] | lowercase">
          <ng-template ngFor let-key [ngForOf]="config[node.data.keyType]" let-i="index">
            <li [class]="key.type" [ngSwitch]="key.type" [style.width]="i === 0 ? (13 - node.getNodePadding().replace('px', '') / 16) + 'em' : config.columnName[i].width">
              <span *ngSwitchCase="'currency'"><span *ngIf="node.data[key.name]">USD </span> {{ node.data[key.name] | number:
              '1.0-0' }}</span>
              <span *ngSwitchCase="'date'">{{ node.data[key.name] | date: 'shortDate' }}</span>
              <span *ngSwitchDefault>{{ node.data[key.name] }}</span>
            </li>
          </ng-template>
        </ul>
      </ng-template>
    </tree-root>
  </div>
</md-card>
