@import '~sass/_palette';

:host {
  display: flex;
  flex: 1 1 100%;
}
.nt-tree {
  width: 100%;
  overflow: hidden;
  .scroll-container {
    white-space: nowrap;
  }
  .header {
    list-style: none;
    margin: 0;
    padding: 0.45em;
    padding-left: 2.55em;
    background-color: #DDD;

    & > li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    li {
      font-size: 0.875rem;
      font-weight: 600;
      white-space: nowrap;
      display: inline-block;
    }
    li:nth-child(2) {
      padding-right: 0.7em;
    }
    li:nth-child(3) {
      padding-right: 1.3em;
    }
    li:nth-child(4) {
      padding-right: 0.4em;
    }
  }
}
.currency {
  text-align: right;
  padding-right: 1em;
}
/deep/ {
  tree-viewport {
    height: 95% !important;
    overflow-x: hidden !important;
  }
  .tree {
    user-select: auto !important;
    // overflow: hidden;
  }
  .node-drop-slot {
    height: 0 !important;
  }
  .node-content-wrapper-active,
  .node-content-wrapper-focused {
    box-shadow: none !important;
    background: transparent !important;
  }
  .node-wrapper::last-child {
    background: black;
    border-bottom: none !important;
  }
  .node-content-wrapper {
    width: 100%;
    padding: 0 !important;
    .icon {
      position: absolute;
      left: 0;
      fill: $accent-2;
      width: 15px !important;
      height: 15px !important;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 5px 0;
      padding-left: 1.7em;
      border-bottom: 1px solid #CCC;
      &.grpmbr {
        background: rgba(69, 196, 206, 0.24);
      }
      &.dli {
        background: rgba(24, 110, 130, 0.24);
      }

    }
    li {
      font-size: 0.875rem;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .node-content-wrapper,
  .tree-children {
    position: relative;
  }
  .node-content-wrapper::before,
  .tree-children::after {
    content: "";
    position: absolute;
  }
  .node-content-wrapper::before {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    height: 28px;
    top: -15px;
    width: 25px;
    left: -28px;
  }
  .tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
    width: 25px;
  }
  .tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
  }
  treenode:last-child>.tree-node>.tree-children::after {
    border-left: none;
  }
  .toggle-children {
    z-index: 1;
    height: 11px !important;
    width: 11px !important;
  }
}
