<div class="kitchen-header">
  <h2>Code Type Example</h2>
</div>
<div class="kitchen-content">
  <md-select placeholder="Code Type Selection" [(ngModel)]="codeTypeSelection" name="codeTypeSelection">
      <md-option *ngFor="let code of codeListing" [value]="code.code">
          {{code.dsc}}
      </md-option>
  </md-select>
  <form [formGroup]="form">
    <nt-select [parent]="form" [ntCodeType]="codeTypeSelection" key="codeType" name="sample" placeholder="Select Code Type" required></nt-select>
  </form>
</div>
