<h6 class="mt-s label-color">{{placeholder}}</h6>
<div fxLayout="column" [formGroup]="parent">
  <div [formGroupName]="key" fxLayout="row">
    <md-select class="mr-s hideAtrSelect" fxFlex formControlName="ctyCode" [required]="required" (onOpen)="onOpen()" (onClose)="onClose()" ntCodeType="CIS.CTT_T">
      <md-option></md-option>
      <ng-container *ngFor="let item of options">
        <md-option *ngIf="!disabledFn(item)" [value]="storeFn(item)">
          {{displayFn(item)}}
        </md-option>
      </ng-container>
    </md-select>
    <md-input-container fxFlex="60%">
      <input mdInput type="text" formControlName="no" [attr.minLength]="minLength" [attr.maxLength]="maxLength" [required]="required">
      <span [ngClass]="{pref: _disabled}" mdPrefix>{{prefix}}</span>
    </md-input-container>
  </div>
  <nt-control-message [showRequired]="showRequired" [parent]="parent" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key).get('no')"></nt-control-message>
</div>
