<div class="kitchen-header">
  <h2>Progress Bar Example</h2>
</div>
<div class="kitchen-content">
  <nt-progress-bar [mode]="'determinate'" [value]="0"></nt-progress-bar>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-progress-bar [mode]="'determinate'" [value]="0"&gt;&lt;/nt-progress-bar&gt;
    </code>
  </pre>
</div>
