<div class="flex">
  <table [ntData]="tableData" #md2="ntDataTable" [rowsPerPage]="defaultPageSize">
    <thead>
      <tr>
        <th *ngIf="accessControl?.edit || accessControl?.view"></th>
        <th *ngFor="let item of setting">
          <nt-sortby *ngIf="item.sortable == true" ntSortBy="{{item.key}}" fxLayout="row">
            <nt-multi-lingua msgCode="{{item.label}}">Sortable Header</nt-multi-lingua>
          </nt-sortby>
          <span *ngIf="item.sortable !== true">
              <nt-multi-lingua msgCode="{{item.label}}">Header</nt-multi-lingua>
          </span>
        </th>
        <th *ngIf="accessControl?.delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of md2.data" (click)="onRecordClicked(i,$event)">
        <td *ngIf="accessControl?.edit || accessControl?.view || action !== 'none'" class="icon-td">
          <span class="icon">
            <md-icon *ngIf="accessControl?.view || action === 'view'" svgIcon="{{leftIcon ||'icn_search'}}" class="md-15"></md-icon>
            <md-icon *ngIf="accessControl?.edit || action === 'edit'" svgIcon="{{leftIcon ||'icn_edit'}}" class="md-15"></md-icon>
          </span>
        </td>
        <td *ngFor="let item of setting" [ngSwitch]="item.type">
          <span class="tag" *ngIf="item.tag && i[item.tag]">{{i[item.tag]}}</span><br *ngIf="item.tag && i[item.tag]">
          <span *ngSwitchCase="'currency'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">
            <ng-container *ngIf="!item.currencyKey" >{{getData(item.key,i) | currency:item.currency||'USD':item.symbol||false:item.decimal||'1.2-2'}}</ng-container>
            <ng-container *ngIf="item.currencyKey" >{{getData(item.key,i) | currency:getData(item.currencyKey,i)||'USD':item.symbol||false:item.decimal||'1.2-2'}}</ng-container>
          </span>
          <span *ngSwitchCase="'number'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">{{getData(item.key,i) | number: item.decimal||'1.2-2'}}</span>
          <span *ngSwitchCase="'date'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">{{getData(item.key,i) | date: item.date||'shortDate'}}</span>
          <span *ngSwitchCase="'array'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">{{toArray(getData(item.key,i)).join(item.toArray)}}</span>
          <span *ngSwitchCase="'conditional'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">
            {{item.conditions[getData(item.key,i)]?getData(item.conditions[getData(item.key,i)],i):getData(item.conditions['others'],i)}}
          </span>
          <span *ngSwitchCase="'function'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">
            {{item.fn(i)}}
          </span>
          <span *ngSwitchCase="'multiline'" [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">
            <p *ngFor="let row of item.fn(i)" class="text-ellipsis">{{row}}</p>
          </span>
          <span *ngSwitchDefault [ngStyle]="item.styles" [ngClass]="item.classes" class="text-ellipsis inline">{{getData(item.key,i)}}</span>
          <md-icon *ngIf="getData(item.key,i) && item.appendIcon && i[item.appendIcon.key]" svgIcon="{{item.appendIcon.icon}}" class="md-15"></md-icon>
          <span *ngIf="item.color && item.color[getData(item.key,i)]" [style.backgroundColor]="item.color[getData(item.key,i)]" class="block"></span>
          <br *ngIf="getData(item.key,i)">
          <span class="sub" *ngIf="item.sub">{{i[item.sub]}}</span>
        </td>
        <td *ngIf="accessControl?.delete || action === 'edit'" class="icon-td" (click)="remove(i,$event)">
          <span class="icon">
          <md-icon svgIcon="{{rightIcon || 'icn_delete'}}" class="md-15"></md-icon>
          </span>
        </td>
      </tr>
      <tr *ngIf="md2.data.length == 0">
        <td class="empty" [attr.colspan]="colSize">
          <nt-multi-lingua msgCode="cmo.lbl.no.data">No Data</nt-multi-lingua>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="tableData?.length && !requiredPagination && totalFooter">
      <tr>
        <td *ngFor="let val of totalData" style="font-weight: 700">
          {{val}}
        </td>
      </tr>
    </tfoot>
    <tfoot *ngIf="tableData?.length >= defaultPageSize && requiredPagination">
      <tr>
        <td [attr.colspan]="colSize">
          <nt-pagination [rowsPerPageSet]="pageSizes"></nt-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
