 @import '~sass/_font.scss';
 .flex {
    overflow-y: auto;
  }
  .inline {
    display: inline-block;
  }
  table {
    display: table;
    border: 1px solid rgba($multi-1, 0.12);
    border-spacing: $s-no;
    border-collapse: collapse;
    font-size: $fs-m;
    box-sizing: border-box;
    width: 100%;
  }

  table th {
    background-color: $t-h;
    height: 30px !important;
    font-weight: 700;
  }
  /* zebra stripe */

  table tr:nth-child(odd) {
    background-color: $multi-2;
  }
  table tr:nth-child(even) {
    background-color: $multi-7;
  }

  table tr {
    position: relative;
    vertical-align: middle;
    .icon-td {
      pointer-events: none;
    }
    .icon {
      visibility: hidden;
    }
  }

  tbody tr:hover {
    height: 36px;
    background-color: $t-hover;
    cursor: pointer;
    .icon-td {
      pointer-events: all;
    }
    .icon {
      visibility: visible;
    }
  }

  table th,
  table td {
    padding: 5px 16px;
    text-align: left;
    &.empty {
      text-align: center;
    }
  }

  table td {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid $multi-7;
    border-bottom: 1px solid $multi-7;
    box-sizing: border-box;
    color: rgba($multi-1, 0.87);
  }
  /* table content badge */

  .tag {
    background-color: lighten($accent-8, 35%);
    border-radius: 3px;
    padding: 0px 5px;
    font-size: 10px;
  }
  /* table sub-content */

  .sub {
    font-style: italic;
    color: $accent-8;
  }
  .block{

    display: inline-block;
    height: 18px;
    width: 18px;
  }
