<div fxLayout="column">
  <md-input-container>
    <input ntTooltip mdInput type="text" [(ngModel)]="query" (showTooltip)="showTooltip = $event" (keyup)="filter()" (blur)="blur()"
      (keydown.enter)="add($event)" [disabled]="_disabled" [placeholder]="data.placeholder ||placeholder" [mdAutocomplete]="auto"
      [required]="data.required || required" #inputControl="ngModel">
    <md-icon mdSuffix class="md-inputs-icon-color" svgIcon="icn_search"></md-icon>
  </md-input-container>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}"
    [errors]="inputControl.control.errors"></nt-control-message>
</div>
<md-autocomplete #auto="mdAutocomplete">
  <ng-container *ngFor="let item of filteredList">
    <md-option (click)="select(item)" [value]="item" *ngIf="!disabledFn(item)">{{fn(item)}}</md-option>
  </ng-container>
</md-autocomplete>
