@import "~sass/_palette";
@import "~sass/_var";
/deep/ {
  .no-axis-line {
    .domain, line {
      display: none;
    }
  }
  .value {
    font-size: $fs-m;//0.85em;
  }
  .bar--positive {
    fill: $multi-4;//#00C853;
  }
  .bar--negative {
    fill: $multi-5;//#FF4081;
  }
}
