<div class="sidenav-item-container">
  <a class="sidenav-anchor" [class.briefcaseItem]="item.type" *ngIf="!item.hasSubItems()" md-list-item md-ripple [routerLink]="[item.route]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div class="sidenav-anchor-container">
      <md-icon svgIcon="{{item.icon}}" class="sidenav-item-icon"></md-icon>
      <div *ngIf="item.type" class="sidenav-item-type">{{item.type}}</div>
      <span class="sidenav-item-name fade-in-on-icon-sidenav">{{ item.name }}</span>
      <span fxFlex><!-- fill space --></span>
      <span class="fade-in-on-icon-sidenav sidenav-item-refNo" *ngIf="item.refNo">{{ item.refNo }}</span>
    </div>
  </a>
  <md-icon class="sidenav-item-remove" *ngIf="item.type" (click)="removeBriefcaseItem(item);">clear</md-icon>
</div>
<a class="sidenav-anchor" *ngIf="item.hasSubItems()" md-list-item md-ripple (click)="toggleDropdown()">
  <md-icon svgIcon="{{item.icon}}" class=""></md-icon>
  <span class="sidenav-item-name fade-in-on-icon-sidenav">{{ item.name }}</span>
  <span fxFlex><!-- fill space --></span>
  <md-icon *ngIf="item.hasSubItems()" class="sidenav-item-dropdown-indicator rotate fade-in-on-icon-sidenav">expand_more</md-icon>
</a>
<md-nav-list class="sidenav-list sidenav-list-nested" fxLayout="column" [style.height]="getSubItemsHeight()">
  <nt-sidenav-item (click)="toggleDropdown()" class="sidenav-item" *ngFor="let subItem of item.subItems" [item]="subItem"></nt-sidenav-item>
</md-nav-list>
