<div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <ng-content select="[collapsible-header]"></ng-content>
    <button md-icon-button (click)="collapse=!collapse">
    <md-icon class="rotation" [class.rotate]="!collapse">expand_more</md-icon>
  </button>
  </div>
  <div>
    <ng-content *ngIf="collapse" [@fadeInSlideInY] select="[collapsible-content]"></ng-content>
  </div>
</div>
