<div class="kitchen-header">
  <h2>Search Box Example</h2>
</div>
<div class="kitchen-content">
  <div fxLayout="column" fxLayoutAlign="center center">
    <nt-search  [(ngModel)]="search" placeholder="Search Example"></nt-search>
    <p class="text-center">&uarr;</p>
    <p class="text-center">click the search icon</p>
  </div>
  <p>{{search}}</p>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-search [(ngModel)]="search"  placeholder="Search Example"&gt;&lt;/nt-search&gt;
    </code>
  </pre>
</div>
