<div class="kitchen-header">
  <h2>Multi Lingua Example</h2>
</div>
<div class="kitchen-content">
  <div fxLayout="column" fxFlex="100%">

      <div fxLayout="row" fxLayout.md='row' fxFlex="100%" fxLayoutAlign="start" fxLayoutWrap="wrap">
          <md-input-container>
              <input mdInput placeholder="Codes Listing" [mdAutocomplete]="auto">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let list of listing" [value]="list.msgCode">{{list.msgCode}}</md-option>
          </md-autocomplete>

          <md-input-container>
              <input mdInput type="text" placeholder="Fall Back Text" [(ngModel)]="fallbackText">
          </md-input-container>

      </div>

      <div fxLayout="row" fxLayout.md='row' fxFlex="100%" fxLayoutAlign="start" fxLayoutWrap="wrap">

          <md-input-container>
              <input mdInput type="text" placeholder="msgCode" [(ngModel)]="msgCode">
          </md-input-container>

          <md-input-container>
              <input mdInput type="text" placeholder="langCode" [(ngModel)]="langCode">
          </md-input-container>

          <md-input-container>
              <input mdInput type="text" placeholder="desc" [(ngModel)]="desc">
          </md-input-container>

      </div>

      <nt-multi-lingua [msgCode]="msgCode" [langCode]="langCode" [desc]="desc">{{fallbackText}}</nt-multi-lingua>

  </div>
</div>
