@import "~sass/_palette";
$primary: $accent-8 !default; //#00B0FF !default;
$warn: $multi-5 !default; //#f44336 !default;
$md2-datepicker-trigger-height: 30px !default;
$md2-datepicker-trigger-min-width: 112px !default;
$md2-datepicker-arrow-size: 5px !default;
$md2-datepicker-arrow-margin: 4px !default;
$md2-datepicker-date-cell-size: 40px !default;
$md2-datepicker-calendar-height: 300px !default;
nt-date-picker {
  position: relative;
  display: block;
  min-width: 180px;
  outline: none;
  backface-visibility: hidden;
  &.md2-datepicker-disabled {
    pointer-events: none;
    cursor: default;
  }
}

.md2-datepicker-trigger {
  display: block; // remove left padding
  // padding: 18px 0 18px 32px;
  padding: 15px 0 12px 0;
  white-space: nowrap;
  cursor: pointer;
}

.md2-datepicker-calendar-icon {
  position: absolute;
  top: 21px;
  left: 0;
  display: block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  fill: currentColor;
  color: rgba($multi-1, 0.54);
}

.md2-datepicker-input {
  position: relative;
  display: block;
  height: 30px;
  padding: 2px 26px 2px 2px;
  margin: 0;
  line-height: 26px;
  color: rgba($multi-1, 0.87);
  vertical-align: middle;
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid $accent-11; //rgba($multi-1, 0.12);
  svg {
    position: absolute;
    right: 0;
    top: 2px;
    fill: currentColor;
    color: rgba($multi-1, 0.54);
  }
  nt-date-picker.ng-invalid.ng-touched:not(.md2-datepicker-disabled) & {
    color: $warn;
    border-bottom: 1px solid $warn;
  }
}

nt-date-picker.md2-datepicker-disabled .md2-datepicker-input {
  color: rgba($multi-1, 0.38); // set dotted border
  border-color: transparent;
  background-image: linear-gradient(to right, rgba($multi-1, 0.38) 0%, rgba($multi-1, 0.38) 33%, transparent 0%);
  background-position: bottom -1px left 0;
  background-size: 4px 1px;
  background-repeat: repeat-x; // set icon fade color when disabled
  svg {
    color: $multi-6;
  }
}

.md2-datepicker-placeholder {
  position: absolute;
  right: 26px;
  bottom: 100%;
  left: 0;
  color: $accent-11; //rgba($multi-1, 0.38);
  max-width: 100%;
  padding-left: 3px;
  padding-right: 0;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
  transform: translate3d(0, 26px, 0) scale(1);
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: left top;
  &.md2-floating-placeholder {
    left: -2px;
    text-align: left;
    transform: translate3d(0, 6px, 0) scale(0.75);
  }
  [aria-required=true] &::after {
    content: '*';
  }
  &.has-value {
    transform: translate3d(0, 6px, 0) scale(0.75);
  }
  nt-date-picker:focus & {
    color: $primary;
    transform: translate3d(0, 6px, 0) scale(0.75);
  }
}

nt-date-picker.md2-datepicker-disabled:focus {
  .md2-datepicker-placeholder {
    color: rgba($multi-1, 0.38);
  }
}

.md2-datepicker-input-text {
  display: block;
  font-size: 15px;
  line-height: 26px;
}

.md2-datepicker-panel {
  position: absolute;
  top: 18px;
  left: 0;
  display: inline-block;
  width: 300px;
  border-radius: 2px;
  background-color: $multi-2;
  z-index: 10;
  box-shadow: 0 2px 6px rgba($multi-1, 0.4);
  transform: scale(0);
  transform-origin: left top;
  transition: 150ms;
  user-select: none;
  &.active {
    transform: scale(1);
  }
}

.md2-datepicker-header {
  padding: 16px;
  color: $multi-2;
  font-weight: 500;
  white-space: nowrap;
  background: $primary;
  box-sizing: border-box;
}

.md2-datepicker-header-year {
  font-size: 16px;
  opacity: 0.7;
  cursor: pointer;
  &.active {
    opacity: 1;
    pointer-events: none;
  }
  &.hidden {
    display: none;
  }
}

.md2-datepicker-header-date-time {
  font-size: 32px;
}

.md2-datepicker-header-date {
  opacity: 0.7;
  cursor: pointer;
  &.active {
    opacity: 1;
    pointer-events: none;
  }
  &.hidden {
    display: none;
  }
}

.md2-datepicker-header-time {
  opacity: 0.7;
  display: inline-block;
  padding-left: 8px;
  cursor: pointer;
  &.active {
    opacity: 1;
    cursor: default;
    .md2-datepicker-header-hour,
    .md2-datepicker-header-minute {
      opacity: 0.7;
      cursor: pointer;
      &.active {
        opacity: 1;
        pointer-events: none;
      }
      &.hidden {
        display: none;
      }
    }
  }
  &.hidden {
    display: none;
  }
}

.md2-datepicker-content {
  position: relative;
  width: 100%;
  padding-top: $md2-datepicker-calendar-height;
  overflow: hidden;
}

.md2-datepicker-calendar {
  position: absolute;
  top: 0;
  right: 100%;
  display: block;
  width: 100%;
  height: $md2-datepicker-calendar-height;
  transition: 300ms;
  &.active {
    right: 0;
  }
}

.md2-calendar-years {
  position: absolute;
  top: 10px;
  right: 100%;
  bottom: 10px;
  display: block;
  width: 100%;
  line-height: 40px;
  background: $multi-2;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 300ms;
  &.active {
    right: 0;
  }
  .md2-calendar-years-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
}

.md2-calendar-year {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  &.selected {
    color: $primary;
    font-size: 26px;
    font-weight: 500;
  }
}

.md2-calendar-month {
  position: absolute;
  left: 100%;
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  transition: 300ms;
  &.active {
    left: 0;
  }
}

.md2-calendar-controls {
  position: relative;
  display: block;
  height: 48px;
  text-align: left;
}

.md2-calendar-header {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.md2-calendar-prev-month,
.md2-calendar-next-month {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin: 0 12px;
  box-sizing: border-box;
  cursor: pointer;
  &.disabled {
    opacity: 0.25;
    cursor: default;
    pointer-events: none;
  }
}

.md2-calendar-next-month {
  right: 0;
}

.md2-calendar-dates {
  margin: 0 20px;
  th {
    width: 35px;
    height: 20px;
    font-weight: 500;
    line-height: 15px;
    opacity: 0.5;
  }
  td {
    padding: 0;
  }
}

.md2-calendar-day {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 35px;
  box-sizing: border-box;
  &.today {
    color: $primary;
  }
  &:hover,
  &.focus {
    background: darken($multi-2, 12);
  }
  &.selected,
  &.selected:hover {
    color: $multi-2;
    background: $primary;
  }
  &.disabled,
  &.disabled:hover {
    color: rgba($multi-1, 0.45);
    background: transparent;
    pointer-events: none;
  }
  &.prev-month,
  &.next-month {
    visibility: hidden;
  }
}

.md2-datepicker-clock {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 240px;
  height: 240px;
  margin: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: darken($multi-2, 12);
  border-radius: 50%;
  transition: 300ms;
  &.active {
    left: 0;
  }
}

.md2-clock-hours,
.md2-clock-minutes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 350ms;
  transform: scale(1.2);
  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.md2-clock-minutes {
  transform: scale(0.8);
}

.md2-clock-hour,
.md2-clock-minute {
  position: absolute;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: lighten($primary, 25);
  }
}

.md2-clock-hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line {
    stroke: $primary;
    stroke-width: 1;
    stroke-linecap: round;
  }
}

.md2-clock-bg {
  fill: lighten($primary, 25);
}

.md2-clock-fg {
  stroke: none;
  fill: $primary;
}

.md2-clock-center {
  stroke: none;
  fill: $primary;
}

.md2-datepicker-actions {
  text-align: right;
  .md2-button {
    display: inline-block;
    min-width: 64px;
    margin: 4px 8px 8px 0;
    padding: 0 12px;
    font-size: 14px;
    color: $primary;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    &:hover {
      background: darken($multi-2, 8);
    }
  }
}

@media (min-width: 600px) {
  .md2-datepicker-panel {
    display: flex;
    width: 430px;
  }
  .md2-datepicker-header {
    width: 130px;
    padding-right: 15px;
    white-space: normal;
    word-wrap: break-word;
  }
  .md2-datepicker-header-time {
    display: block;
    padding-left: 0;
  } // .md2-datepicker-content {
  // }
}
