<div fxLayout="column">
  <md-input-container [class.md-input-readOnly]="!!isDisabled">
    <input ntTooltip mdInput type="text" name="{{placeholder}}" (showTooltip)="showTooltip = $event" (keyup)=filter() (keydown.enter)=add($event)
      [mdAutocomplete]="auto" (blur)="setFormStatus()" [required]="required" [disabled]="_disabled" [(ngModel)]=query [placeholder]="placeholder"
      #inputControl="ngModel">
    <md-icon mdSuffix class="md-inputs-icon-color" svgIcon="icn_search"></md-icon>
  </md-input-container>
  <md-autocomplete #auto="mdAutocomplete">
    <ng-container *ngFor="let item of filteredList">
      <md-option (click)="select(item)" [value]="item" *ngIf="!disabledFn(item)">{{ displayFn(item) }}</md-option>
    </ng-container>
  </md-autocomplete>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}"
    [errors]="inputControl.control.errors"></nt-control-message>
</div>
<ng-container *ngIf="!isDisabled">
  <div *ngFor="let item of selected">
    <div class="selected">
      <span>{{displayFn(item)}}</span>
      <a (click)="remove(item)">
        <md-icon mdSuffix class="md-13 auto-icon" svgIcon="icn_remove"></md-icon>
      </a>
    </div>
  </div>
</ng-container>
