<h6 class="mt-s label-color">{{placeholder}}</h6>
<div>
  <div fxLayout="column">
    <div fxLayout="row">
      <md-select class="mr-s" (change)="currencyChange()" (focusout)="autoFormat()" fxFlex="40%" [(ngModel)]="value.atlCode" #inputControlCode="ngModel"
        [placeholder]="'cis.lbl.ciscusfinstm.curcode' | multiLingua | async" [required]="required" (blur)="blur()">
        <md-option></md-option>
        <ng-container *ngFor="let c of currencyList">
          <md-option *ngIf="!disabledFn(c)" [value]="c.code">{{c.code}}</md-option>
        </ng-container>
      </md-select>
      <div fxFlex="60%" fxLayout="column">
        <md-input-container>
          <input ntTooltip (focusout)="autoFormat()" (showTooltip)="showTooltip = $event" [textMask]="inputMask" (input)="updateAmt()"
            mdInput type="text" [min]="min" [max]="max" [(ngModel)]="altAmt" #inputControlAmt="ngModel" [placeholder]="'cmo.lbl.curamt.atlamt' | multiLingua | async"
            [required]="required" style="text-align:right" (blur)="blur()">
        </md-input-container>
      </div>
    </div>
  </div>
  <div *ngIf="value.lccCode !== value.atlCode " [@fadeInSlideInY] fxLayout="column">
    <div *ngIf="changeFx" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex>
        <nt-multi-lingua msgCode="cmo.lbl.fx.rt"></nt-multi-lingua>
      </div>
      <div fxFlex fxLayout="column">
        <nt-datepicker [(ngModel)]="value.fxRtDt" #inputControlRate="ngModel" (change)="updateValue()" [placeholder]="'cmo.lbl.fxamt.fxrtdt' | multiLingua | async"
          [required]="required" (blur)="blur()"></nt-datepicker>
        <md-input-container>
          <input mdInput (input)="rateChanges()" type="number" [(ngModel)]="value.fxRt" #inputControlDate="ngModel" placeholder="Rate"
            [required]="required" (blur)="blur()">
        </md-input-container>
      </div>
    </div>
    <div *ngIf="!changeFx" class="label-txt">
      <span>{{value.atlCode}} {{value.altUnt}}: {{value.lccCode}} {{value.lccUnt}}</span>
      <span>@</span>
      <span class="text-underline">{{value.fxRt}}</span>
      <span><nt-multi-lingua msgCode="cmo.lbl.on"></nt-multi-lingua></span>
      <span class="text-underline">{{value.fxRtDt | date:'yMd'}}</span>
    </div>
    <div class="label-txt">
      <p class="fx-rate-result">
        {{value.lccAmt | currency:value.lccCode:false:'1.2-2'}}
      </p>
    </div>
  </div>
  <nt-control-message [showTooltip]="showTooltip" [submitted]="_submitted" [errors]="errors" fieldName="{{data.placeholder || placeholder}}"></nt-control-message>
</div>
