<div class="kitchen-header">
  <h2>Multi Currency Example</h2>
</div>
<div class="kitchen-content" fxLayout="row">
  <form [formGroup]="form">
    <h3>Editable Rate</h3>
    <nt-multi-currency [parent]="form" key="mulCur1" [changeFx]="true" [required]="true"></nt-multi-currency>
    <h3>Non Editable Rate</h3>
    <nt-multi-currency [parent]="form" key="mulCur2" [changeFx]="false"></nt-multi-currency>
    <p>Form Data:</p>
    <pre><code>{{form.value | json}}</code></pre>
  </form>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-multi-currency [parent]="form" key="mulCur1" [changeFx]="true"&gt;&lt;/nt-multi-currency&gt;
    </code>
  </pre>
</div>
