<div *ngIf="parent" [formGroup]="parent" fxLayout="column">
  <md-input-container [class.md-input-readOnly]="data.disabled || isDisabled === 'true'">
    <textarea
      #textarea
      mdInput
      ntTooltip
      (showTooltip)="showTooltip = $event"
      [required]="required"
      mdTextareaAutosize
      [mdAutosizeMinRows]="rows"
      [mdAutosizeMaxRows]="maxRows"
      [attr.maxLength]="maxLength"
      [placeholder]="data.placeholder || placeholder"
      [formControlName]="data.key || key">
    </textarea>
    <md-hint *ngIf="maxLength" align="end">{{textarea.value.length}} / {{maxLength}}</md-hint>
  </md-input-container>
  <nt-control-message [tooltip]="tooltip" [showTooltip]="showTooltip" [showRequired]="showRequired" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key)"></nt-control-message>
</div>
<div *ngIf="!parent" fxLayout="column">
    <md-input-container [class.md-input-readOnly]="data.disabled || isDisabled === 'true'">
      <textarea
        #textarea
        mdInput
        ntTooltip
        (showTooltip)="showTooltip = $event"
        [required]="required"
        [disabled]="isDisabled"
        [(ngModel)]="this['value']"
        mdTextareaAutosize
        [mdAutosizeMinRows]="rows"
        [mdAutosizeMaxRows]="maxRows"
        [attr.maxLength]="maxLength"
        [placeholder]="data.placeholder || placeholder">
      </textarea>
      <md-hint *ngIf="!isDisabled" align="end">{{textarea.value.length}} / {{maxLength}}</md-hint>
    </md-input-container>
    <nt-control-message *ngIf="!isDisabled" [tooltip]="tooltip" [showTooltip]="showTooltip" [showRequired]="showRequired" fieldName="{{data.placeholder || placeholder}}" [control]="parent.get(data.key || key)"></nt-control-message>
  </div>
