<ul *ngFor="let data of TableData">
  <li>{{data.name}}</li>
  <li>{{data.no}}</li>
  <li>{{data.aum}}</li>
  <li>{{data.rel}}</li>
  <li>{{data.conEnt}}</li>
  <nt-recursive-table *ngIf="checkChild(data)" [TableData]="data.children"></nt-recursive-table>
</ul>
