@import '~sass/md-overwrite';
@import '~sass/_var';


md-sidenav-container {
  height: 100%;
}
.loading-bar{
  position: absolute;
}
.sidenav {
  width: $width__sidenav;
  max-width: $width__sidenav;
  background: $background-color__sidenav-list;
  overflow-x: hidden;
  z-index: $z-index__md-sidenav;
}
.main-container {
  height: calc(100% - #{$height__main-toolbar});
  position: relative;
}

/deep/ {
  @keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
  }

  @keyframes fadeout {
    0% { opacity:1; }
    100% { opacity:0; }
  }

  @media screen and (min-width: 1280px) {
    .mat-sidenav-backdrop {
      z-index: 50 !important;
    }
  }

  @media screen and (min-width: 1280px) {
    .sidenav + .cdk-visually-hidden  + .mat-sidenav-content {
      transition: all .4s cubic-bezier(.25,.8,.25,1);
      transition-property: transform, max-width;
      margin-left: $s-no !important;
      background: $multi-8;// #EEE;
      z-index: $z-index__md-sidenav-content;
      overflow: hidden;

      box-shadow: inset 7px 0 9px -7px rgba($multi-1,0.4);//rgba(0,0,0,0.4);
    }

    .sidenav + .cdk-visually-hidden + .mat-sidenav-content {
      max-width: calc(100% - #{$width__sidenav});
      transform: translate3d($width__sidenav, 0, 0) !important;
    }

    .sidenav.icon-sidenav.collapsed + .cdk-visually-hidden + .mat-sidenav-content {
      max-width: calc(100% - #{$max-width__sidenav-icon});
      transform: translate3d($max-width__sidenav-icon, 0, 0) !important;
    }

    .sidenav.icon-sidenav + .cdk-visually-hidden + .mat-sidenav-content {
      max-width: calc(100% - #{$max-width__sidenav-icon});
    }

    .sidenav {
      &.collapsed {
        //max-width: $max-width__sidenav-icon; // Padding width + icon width
        //min-width: $max-width__sidenav-icon;
        .fade-in-on-icon-sidenav {
          //noinspection CssInvalidPropertyValue
          animation: .5s cubic-bezier(.25,.8,.25,1) 0s normal forwards 1 fadeout;
        }
      }

      &:not(.collapsed) {
        .fade-in-on-icon-sidenav {
          //noinspection CssInvalidPropertyValue
          animation: .5s cubic-bezier(.25,.8,.25,1) 0s normal forwards 1 fadein;
        }
      }
    }
  }
}

