<md-sidenav-container [ngClass]="currentView()">
  <md-sidenav class="sidenav" [mode]="sidenavMode" [opened]="sidenavOpen" ntIconSidenav [disableClose]="!isMobile" #sidenav>
    <nt-sidenav>
      <ng-content select=".sidenav-summary"></ng-content>
    </nt-sidenav>
  </md-sidenav>
  <nt-topnav-bar (menu)="sidenav.open();" [showMenu]="isMobile"></nt-topnav-bar>
  <div class="main-container" (scroll)="onScroll($event)">
    <md-progress-bar class="loading-bar" *ngIf="loading" mode="indeterminate"></md-progress-bar>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
