.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
}
