<div [formGroup]="parent" fxLayout="column">
  <div [formGroupName]="key" fxLayout="row" fxLayoutAlign="space-between">
    <md-select fxFlex="40%" class="mr-s" [formControlName]="childKeys[0]" (onOpen)="onOpen()" (onClose)="onClose()" [placeholder]="'cmo.lbl.entid.idt' | multiLingua | async"
      [required]="required">
      <md-option></md-option>
      <ng-container *ngFor="let option of options">
        <md-option *ngIf="!disabledFn(option)" [value]="storeFn(option)">{{displayFn(option)}}</md-option>
      </ng-container>
    </md-select>
    <div fxFlex="60%" fxLayout="column">
      <md-input-container>
        <input ntTooltip (showTooltip)="showTooltip = $event" [textMask]="inputMask" mdInput type="text" [placeholder]="'cmo.lbl.entid.idnbr' | multiLingua | async"
          [formControlName]="childKeys[1]" (change)="formatBlank()" [required]="required" [attr.maxlength]="maxlength">
      </md-input-container>
    </div>
  </div>
  <nt-control-message [tooltip]="'cmo.lbl.entid.idnbr' | multiLinguaTooltip | async" [showTooltip]="showTooltip" [showRequired]="showRequired"
    [parent]="parent" [fieldName]="'cmo.lbl.entid.idnbr' | multiLingua | async" [control]="parent.get(data.key || key).get(childKeys[1])"></nt-control-message>
</div>
