<md-sidenav-container class="kitchen-sidenav">
  <md-sidenav class="sidenav" mode="side" opened="true" style="overflow-y:scroll !important;">
    <md-nav-list>
      <ng-container *ngFor="let control of inputControls">
        <nt-collapsible *ngIf="control.child" [collapse]="false">
          <h3 class="list-title" collapsible-header>{{ control.name }}</h3>
          <div collapsible-content>
            <a *ngFor="let control of control.child" md-list-item routerLink="{{ control.path }}" > {{ toReadable(control.path) }} </a>
          </div>
        </nt-collapsible>
      </ng-container>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
