@import '~sass/_palette';

.kitchen-sidenav {
  height: 100%;
}

md-sidenav {
  background-color: $multi-8;
  width: 200px;
}

.list-title {
  margin: 1rem 0 1rem 1.5rem;
  color: $multi-3;
  &.main {
    cursor: pointer;
  }
}
