<h6 class="mt-s mb-s label-color">{{placeholder}} <span *ngIf="required">*</span></h6>
<div class="nt-radio" fxLayout="column">
  <md-radio-group [(ngModel)]="value" #inputControl="ngModel" [fxLayout]="!vertical ? 'row' : 'column' " [required]="required"
    [disabled]="_disabled">
    <ng-container *ngFor="let option of options">
      <md-radio-button class="mr-s" [ngClass]="{'inactive': isInitialValue(option) && disabledFn(option)}" *ngIf="!disabledFn(option) || isInitialValue(option)"
        [value]="displayValFn(option)" [disabled]="option.sts === 'I' && !isInitialValue(option)">{{ displayFn(option) }}</md-radio-button>
    </ng-container>
  </md-radio-group>
  <nt-control-message [submitted]="_submitted" fieldName="{{data.placeholder || placeholder}}" [errors]="inputControl.errors"></nt-control-message>
</div>
