<h3>Delete</h3>
<md-dialog-content>
  {{message}}
</md-dialog-content>
<md-dialog-actions>
  <button
    type="button"
    md-raised-button
    color="warn"
    (click)="dialogRef.close(true)">
    YES
  </button>
  <button
    type="button"
    md-button
    (click)="dialogRef.close()">
    NO
  </button>
</md-dialog-actions>
