<div class="kitchen-header">
  <h2>Table Example</h2>
</div>
<div class="kitchen-content">
  <nt-table [setting]="setting" [tableData]="data" [accessControl]="accessControl" [requiredPagination]="true" [pageSizes]="pagesz"
    (showData)="handleEdit($event)" (removeData)="handleRemove($event)">
  </nt-table>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-table [setting]="setting" [tableData]="data" [defaultPageSize]="10" [action]="'edit'"
        [requiredPagination]="true" [pageSizes]="pagesz" (editData)="handleEdit($event)" (removeData)="handleRemove($event)"&gt;&lt;
      /nt-table&gt;
    </code>
  </pre>
</div>
