<div class="kitchen-header">
  <h2>Version / Build</h2>
</div>
<div class="kitchen-content">
  <nt-version-build></nt-version-build>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-version-build&gt;&lt;/nt-version-build&gt;
    </code>
  </pre>
</div>
