<div class="kitchen-header">
  <h2>Address Example</h2>
</div>
<div class="kitchen-content">
  <h3>Form</h3>
  <form [formGroup]="form">
    <nt-address formControlName="addrGrp" required></nt-address>
  </form>
  <p class="mt-l mb-l">{{form.value | json}}</p>
  <h3>NgModel</h3>
  <nt-address [(ngModel)]="data" required></nt-address>
  {{data|json}}
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-address [parent]="form" key="addrGrp"&gt;&lt;/nt-address&gt;
    </code>
  </pre>
</div>
