<div class="kitchen-header">
  <h2>Area Chart Example</h2>
</div>
<div class="kitchen-content">
  <div class="area-chart-example">
    <nt-area-chart class="chart-res--rating" [data]="areaChartData" [chartConfig]="areaChartConfig" [scale]="areaChartScale"> </nt-area-chart>
  </div>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-area-chart [data]="areaChartData" [chartConfig]="areaChartConfig" [scale]="areaChartScale"&gt;&lt;/nt-area-chart&gt;
    </code>
  </pre>
</div>
