<div class="kitchen-header">
  <h2>Select Example</h2>
</div>
<div class="kitchen-content" fxLayout="column">
  <h3>Form</h3>
  <form [formGroup]="form" (submit)="submit()">
    <nt-select key="selectSingle" [required]="true" [parent]="form" [options]="options" [placeholder]="'Single Select Dropdown'"
      [required]="true">
    </nt-select>
    <nt-select key="selectMulti" [displayFn]='fn' [options]='options' multiple [isDisabled]="isDisabled" [required]="true" [parent]="form"
      [placeholder]="'Multi Select Dropdown'">
    </nt-select>

    <p>{{form.value | json}}</p>
  </form>
  <h3>ngModel</h3>
  <nt-select [required]="true" [options]="options" [(ngModel)]="single" [placeholder]="'Single Select Dropdown'">
  </nt-select>
  <nt-select multiple="true" [required]="true" [options]="options" [(ngModel)]="multi" [placeholder]="'Multi Select Dropdown'"
    [empty]="false">
  </nt-select>
  {{'single :' + single}} {{'multi :'+multi}}
</div>

<div class="kitchen-footer">
  <pre>
    <code>
      &lt;nt-select key="selectSingle" [displayFn]='fn' [isDisabled]="isDisabled" [required]="true" [parent]="form"
      [options]="options" [placeholder]="'Single Select Dropdown'"&gt;
      &lt;/nt-select&gt;
    </code>
  </pre>
</div>
