<div class="login-bg">
  <div class="login-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="login-header">
      <nt-logo></nt-logo>
    </div>

    <div class="login-content">
      <p class="content-text mb-m">Click button below to login</p>
      <button class="btn-primary login-button" md-button (click)="login()">Login</button>
    </div>

    <div class="login-footer footer-text">
      <md-select [(ngModel)]="langSelect" class="mb-m">
        <md-option *ngFor="let lang of langs" [value]="lang">
          {{lang}}
        </md-option>
      </md-select>
      <nt-version-build></nt-version-build>
    </div>
    
  </div>
</div>