@import '~sass/_font.scss';
@import '~sass/_var.scss';
.login-bg {
    background-color: $multi-1;
    background: $login-background no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-container {
    margin: auto;
    width: 230px;
    height: 100%;
    text-align: center;
}

.login-header {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-content {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-footer {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /deep/ {
        .mat-select-arrow,
        .mat-select-value {
            color: $multi-2;
        }
        .mat-select-underline {
            background-color: $multi-2;
        }
    }
}

.login-button {
    width: 100%;
}

.content-text {
    @include med-txt (300, $multi-2);
}

.footer-text {
    @include small-txt (300, $multi-2);
}