<div class="kitchen-header">
  <h2>Custom Form Example</h2>
</div>
<div class="kitchen-content">
  <form #form="ngForm">
    <nt-submit-button type="Update" (submit)="onSubmit()" [parent]="form"></nt-submit-button>
    {{form.value | json}}
  </form>
</div>
