<div class="kitchen-header">
  <h2>Breadcrumb Example</h2>
</div>
<div class="kitchen-content">
  <div class="breadcrumb-example">
    <nt-breadcrumb></nt-breadcrumb>
  </div>
</div>
<div class="kitchen-footer">
  <pre>
    <code>
    &lt;nt-breadcrumb&gt;&lt;/nt-breadcrumb&gt;
    </code>
  </pre>
</div>
